node_red_flow/flows.json
[{"id":"38c46005.2089","type":"tab","label":"Initialize","disabled":false,"info":""},{"id":"6d17af7a.0c3d3","type":"tab","label":"Switching API","disabled":false,"info":""},{"id":"a4711478.085018","type":"tab","label":"upload and un-tar","disabled":false,"info":""},{"id":"14c2710a.b84d6f","type":"tab","label":"SNMP","disabled":false,"info":""},{"id":"4462d076.169bb","type":"tab","label":"Timer","disabled":true,"info":""},{"id":"5b876f41.262ae","type":"tab","label":"Entry Control","disabled":true,"info":""},{"id":"b0a60cda.34649","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"a055f72e.a07b48","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"81d64922.c99eb8","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"610ace81.b1b6","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"3a3cc1b6.862ffe","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#8f7b01","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#8f7b01","edited":true},"page-titlebar-backgroundColor":{"value":"#8f7b01","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#dbbc02","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#8f7b01","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3f5844c9.9d748c","type":"ui_tab","z":"","name":"Status","icon":"fa-truck","order":2,"disabled":false,"hidden":false},{"id":"bc1faf73.3a31b","type":"ui_group","z":"","name":"Customer ID","tab":"3f5844c9.9d748c","order":1,"disp":true,"width":"3","collapse":false},{"id":"ddeedcbd.74fe3","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"392086b2.6a6ada","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"9597d2e3.1e5d3","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"b1940c3a.94881","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"7b98c4bf.ba77cc","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"2","collapse":false},{"id":"d9f8d428.0efa98","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"2","collapse":false},{"id":"7698d4b.0c3012c","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"2","collapse":false},{"id":"3873bbce.8ca814","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":false,"width":"2","collapse":false},{"id":"4829e78.2cec418","type":"ui_group","z":"","name":"Group 6","tab":"","order":6,"disp":false,"width":"2","collapse":false},{"id":"1e48a246.54ea5e","type":"ui_group","z":"","name":"Group 7","tab":"","order":7,"disp":false,"width":"2","collapse":false},{"id":"f5081fdf.8f54f","type":"ui_group","z":"","name":"Group 8","tab":"","order":8,"disp":false,"width":"2","collapse":false},{"id":"6bc63d01.a223c4","type":"ui_group","z":"","name":"Group 9","tab":"","order":9,"disp":false,"width":"2","collapse":false},{"id":"326cd95a.12fd16","type":"ui_group","z":"","name":"Group 10","tab":"","order":10,"disp":false,"width":"2","collapse":false},{"id":"4470723c.7104fc","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":true,"width":"2","collapse":false},{"id":"fff68f13.d4484","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":true,"width":"2","collapse":false},{"id":"5374a1d2.908d6","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":true,"width":"2","collapse":false},{"id":"35f31733.acec28","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":true,"width":"2","collapse":false},{"id":"2461a286.a7ecae","type":"ui_group","z":"","name":"Group 6","tab":"","order":6,"disp":true,"width":"2","collapse":false},{"id":"29d19c71.5c7064","type":"ui_group","z":"","name":"Group 7","tab":"","order":7,"disp":true,"width":"2","collapse":false},{"id":"2aab044f.0bcdcc","type":"ui_group","z":"","name":"Group 1","tab":"7444dc56.084214","order":1,"disp":false,"width":"24","collapse":false},{"id":"1e88063c.c6b75a","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"2","collapse":false},{"id":"f41ea380.87592","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"2","collapse":false},{"id":"22c3d391.8742dc","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"2","collapse":false},{"id":"d6488401.54f658","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":false,"width":"2","collapse":false},{"id":"61a8192a.e4c178","type":"ui_group","z":"","name":"Group 6","tab":"","order":6,"disp":false,"width":"2","collapse":false},{"id":"f672de83.2dbda","type":"ui_group","z":"","name":"Group 7","tab":"","order":7,"disp":false,"width":"2","collapse":false},{"id":"31ef254d.39633a","type":"ui_group","z":"","name":"Group 8","tab":"","order":8,"disp":false,"width":"2","collapse":false},{"id":"907b0eb0.3cb23","type":"ui_group","z":"","name":"Favorite","tab":"","order":9,"disp":false,"width":"2","collapse":false},{"id":"b6fe662f.1d3bd8","type":"ui_group","z":"","name":"Channels","tab":"","order":10,"disp":false,"width":"2","collapse":false},{"id":"b0b8c72c.cac0b8","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"2","collapse":false},{"id":"38ff187e.3a75c8","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"2","collapse":false},{"id":"77c2a1ff.92b26","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"2","collapse":false},{"id":"112ca9d.5d96656","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"2","collapse":false},{"id":"b2f0e588.8e7a18","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":false,"width":"2","collapse":false},{"id":"33897901.a29616","type":"ui_group","z":"","name":"Group 6","tab":"","order":6,"disp":false,"width":"2","collapse":false},{"id":"3b440775.407288","type":"ui_group","z":"","name":"Group 7","tab":"","order":7,"disp":false,"width":"2","collapse":false},{"id":"ab09e947.de1cc8","type":"ui_group","z":"","name":"Group 8","tab":"","order":8,"disp":false,"width":"2","collapse":false},{"id":"ec6e5cf8.5b872","type":"ui_group","z":"","name":"Group 9","tab":"","order":9,"disp":false,"width":"2","collapse":false},{"id":"bed179f3.af0e08","type":"ui_group","z":"","name":"Group 10","tab":"","order":10,"disp":false,"width":"2","collapse":false},{"id":"12e72881.9d62c7","type":"ui_group","z":"","name":"Gauge","tab":"","order":2,"disp":true,"width":"6"},{"id":"811e725a.cfcbf","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"10","collapse":false},{"id":"16534d0c.3e68c3","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"e6144ae2.cc67d8","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"d2f66a45.8f34f8","type":"ui_group","name":"Group 4","tab":"","order":4,"disp":true,"width":6},{"id":"7c88a491.58b43c","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"44aa7bd6.6519c4","type":"ui_group","z":"","name":"Channel Name","tab":"","order":1,"disp":true,"width":"5","collapse":false},{"id":"5f96165b.d68b28","type":"ui_group","z":"","name":"     Channel Number","tab":"","order":3,"disp":true,"width":"5","collapse":false},{"id":"283e85b1.b7602a","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"7c99aa16.e56a94","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"4","collapse":false},{"id":"fe530755.e9b268","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"98290a36.2fa348","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"4","collapse":false},{"id":"d642e560.9b7348","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"1122bcbf.81c713","type":"ui_group","z":"","name":"Model","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"970758a1.37be38","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"a1d79050.42973","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"3","collapse":false},{"id":"d50fdfc7.e908f","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"3","collapse":false},{"id":"c34e416f.691b3","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"3","collapse":false},{"id":"a6d28b61.7f6b28","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"3","collapse":false},{"id":"aceeb993.379438","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":false,"width":"3","collapse":false},{"id":"7d78ceef.0c798","type":"ui_group","z":"","name":"Group 6","tab":"","order":6,"disp":false,"width":"3","collapse":false},{"id":"c5549429.bfc268","type":"ui_group","z":"","name":"Group 7","tab":"","order":7,"disp":false,"width":"3","collapse":false},{"id":"d5265eda.3f8a1","type":"ui_group","z":"","name":"Group 8","tab":"","order":8,"disp":false,"width":"3","collapse":false},{"id":"a8dd2571.b6f1e8","type":"ui_group","z":"","name":"Group 9","tab":"","order":9,"disp":false,"width":"3","collapse":false},{"id":"d5048152.2a83d","type":"ui_group","z":"","name":"Group 10","tab":"","order":10,"disp":false,"width":"3","collapse":false},{"id":"e030d73b.f26aa8","type":"ui_group","z":"","name":"Group 11","tab":"","order":11,"disp":false,"width":"45","collapse":false},{"id":"d58d6dc1.9cb4a","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"a697e526.adf278","type":"ui_group","z":"","name":"Test1","tab":"","disp":true,"width":"6","collapse":false},{"id":"e4f9392f.e21798","type":"ui_group","z":"","name":"Test3","tab":"","disp":true,"width":"6","collapse":false},{"id":"4bc168e.a11af98","type":"ui_group","z":"","name":"Test2","tab":"","disp":true,"width":"6","collapse":false},{"id":"871b5ecf.34e73","type":"ui_group","z":"","name":"Group 12","tab":"","order":12,"disp":false,"width":"10","collapse":false},{"id":"fe0e24fb.544c68","type":"ui_group","z":"","name":"Group 13","tab":"","order":13,"disp":false,"width":"2","collapse":false},{"id":"6dbece29.e9528","type":"ui_group","z":"","name":"Group 14","tab":"","order":14,"disp":false,"width":"10","collapse":false},{"id":"2f1e5b7a.2ed274","type":"ui_group","z":"","name":"width15","tab":"","disp":true,"width":"15","collapse":false},{"id":"e2ef0d40.bc838","type":"ui_group","z":"","name":"Video In","tab":"","order":1,"disp":false,"width":"10","collapse":false},{"id":"c898ae0b.0aa53","type":"ui_group","z":"","name":"TV","tab":"","order":3,"disp":false,"width":"10","collapse":false},{"id":"413794d7.3f0d8c","type":"ui_group","z":"","name":"Port Utilization","tab":"","order":3,"disp":false,"width":"10","collapse":false},{"id":"8e24360f.886be8","type":"ui_group","name":"Group 11","tab":"","order":11,"disp":true,"width":6},{"id":"297335cd.986e3a","type":"ui_group","name":"Group 12","tab":"","order":12,"disp":true,"width":6},{"id":"db3ed6f8.f7ce58","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"1f27ffdb.b5a3f","type":"ui_group","z":"","name":"Group 3","tab":"","order":2,"disp":false,"width":"3","collapse":false},{"id":"326e5ded.bbbf22","type":"ui_group","z":"","name":"TX Data Rate","tab":"","order":4,"disp":true,"width":"4","collapse":false},{"id":"ee7dab86.79c088","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"bc7e72c1.1f56c","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"80a2d1a5.c1a0c","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"6405e6b2.4eb148","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"c154144c.254e08","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"cd5730d0.3fca3","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"2","collapse":false},{"id":"a3c3ef5f.ddd7f","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"2","collapse":false},{"id":"eed77300.98606","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"2","collapse":false},{"id":"da3bf92e.844b88","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"2","collapse":false},{"id":"44762ce1.f102e4","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":false,"width":"2","collapse":false},{"id":"9caf1e06.285ad","type":"ui_group","z":"","name":"Group 6","tab":"","order":6,"disp":false,"width":"2","collapse":false},{"id":"b8896ec0.e7d76","type":"ui_group","z":"","name":"Group 7","tab":"","order":7,"disp":false,"width":"2","collapse":false},{"id":"f38bc5af.67c2d8","type":"ui_group","z":"","name":"Group 8","tab":"","order":8,"disp":false,"width":"2","collapse":false},{"id":"af7255c9.3243d8","type":"ui_group","z":"","name":"Group 9","tab":"","order":9,"disp":false,"width":"2","collapse":false},{"id":"29cc84eb.40a92c","type":"ui_group","z":"","name":"Group 10","tab":"","order":10,"disp":false,"width":"2","collapse":false},{"id":"e5cdfec7.010b6","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"2","collapse":false},{"id":"b12eb0fa.ae2b2","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":true,"width":"2","collapse":false},{"id":"6cd9ea71.084234","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":true,"width":"2","collapse":false},{"id":"607ff17b.b10a3","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":true,"width":"2","collapse":false},{"id":"35c5f873.920468","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":true,"width":"2","collapse":false},{"id":"19058a9a.664cf5","type":"ui_group","z":"","name":"Group 6","tab":"","order":6,"disp":true,"width":"2","collapse":false},{"id":"43f83adf.2cc464","type":"ui_group","z":"","name":"Group 7","tab":"","order":7,"disp":true,"width":"2","collapse":false},{"id":"cdd2e72e.912118","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"2","collapse":false},{"id":"7f5a97e3.60bfc8","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"2","collapse":false},{"id":"71436988.253cb8","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"2","collapse":false},{"id":"5dc4418.859e7c","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"2","collapse":false},{"id":"bfea5597.2a9a38","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":false,"width":"2","collapse":false},{"id":"9b0d5442.db2488","type":"ui_group","z":"","name":"Group 6","tab":"","order":6,"disp":false,"width":"2","collapse":false},{"id":"c50f03c4.0b118","type":"ui_group","z":"","name":"Group 7","tab":"","order":7,"disp":false,"width":"2","collapse":false},{"id":"b3a9b177.f6a9f","type":"ui_group","z":"","name":"Group 8","tab":"","order":8,"disp":false,"width":"2","collapse":false},{"id":"bf96b9ac.6709d8","type":"ui_group","z":"","name":"Favorite","tab":"","order":9,"disp":false,"width":"2","collapse":false},{"id":"52a29abd.e88604","type":"ui_group","z":"","name":"Channels","tab":"","order":10,"disp":false,"width":"2","collapse":false},{"id":"77ca6536.8496ec","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"2","collapse":false},{"id":"b0a5cd2b.e99a4","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"2","collapse":false},{"id":"320c43eb.95048c","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"2","collapse":false},{"id":"657289d0.511a18","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"2","collapse":false},{"id":"7d65de54.b919c","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":false,"width":"2","collapse":false},{"id":"14943a19.f22ee6","type":"ui_group","z":"","name":"Group 6","tab":"","order":6,"disp":false,"width":"2","collapse":false},{"id":"af2ea58e.0fbbc8","type":"ui_group","z":"","name":"Group 7","tab":"","order":7,"disp":false,"width":"2","collapse":false},{"id":"c5a69afc.730a98","type":"ui_group","z":"","name":"Group 8","tab":"","order":8,"disp":false,"width":"2","collapse":false},{"id":"8bd5b5c3.2fa9c8","type":"ui_group","z":"","name":"Group 9","tab":"","order":9,"disp":false,"width":"2","collapse":false},{"id":"12ca10ba.5f671f","type":"ui_group","z":"","name":"Group 10","tab":"","order":10,"disp":false,"width":"2","collapse":false},{"id":"d641b09e.e6712","type":"ui_group","z":"","name":"Gauge","tab":"","order":2,"disp":true,"width":"6"},{"id":"e81ee059.42253","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"10","collapse":false},{"id":"24515c34.f7d664","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"a35490de.9340a","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"9015942e.902138","type":"ui_group","name":"Group 4","tab":"","order":4,"disp":true,"width":6},{"id":"a1b2e326.4649c","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"67d76aad.783344","type":"ui_group","z":"","name":"Channel Name","tab":"","order":1,"disp":true,"width":"5","collapse":false},{"id":"fb84d47b.c6f8d8","type":"ui_group","z":"","name":"     Channel Number","tab":"","order":3,"disp":true,"width":"5","collapse":false},{"id":"7e0ae1c5.34172","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"3dad5d71.08a6c2","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"4","collapse":false},{"id":"a33a97c1.96dab8","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"1acfc309.95bded","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"4","collapse":false},{"id":"1ddb7149.3f177f","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"9ea85333.db1da","type":"ui_group","z":"","name":"Model","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"24ac8b50.9b24c4","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"6ac443a2.16c95c","type":"nexmobasic","z":""},{"id":"b54eb9f6.975da8","type":"twilio-api","z":"","name":"","sid":"AC5d06d648646c7976c2ae3eeeb0ef83ad","from":"(404)5282388"},{"id":"15c37d95.7e0cd2","type":"ui_group","z":"","name":"Assign Dock","tab":"3f5844c9.9d748c","order":2,"disp":true,"width":"3","collapse":false},{"id":"4b39cdd8.1d7a14","type":"ui_group","z":"","name":"Check Out","tab":"3f5844c9.9d748c","order":3,"disp":true,"width":"3","collapse":false},{"id":"7444dc56.084214","type":"ui_tab","z":"","name":"3","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"9d2c0745.04e6b8","type":"ui_group","z":"","name":"Status","tab":"3f5844c9.9d748c","order":5,"disp":true,"width":"2","collapse":false},{"id":"a1a05c7.db3a7a","type":"ui_spacer","name":"spacer","group":"2aab044f.0bcdcc","order":1,"width":"8","height":"1"},{"id":"aa806c7b.c1ca5","type":"ui_group","z":"","name":"Waited","tab":"3f5844c9.9d748c","order":6,"disp":true,"width":"2","collapse":false},{"id":"5edc0dfd.2d8c34","type":"ui_tab","z":"","name":"Sign In","icon":"fa-user","order":1,"disabled":false,"hidden":false},{"id":"9cfe24d1.a780a8","type":"ui_group","z":"","name":"Group 1","tab":"5edc0dfd.2d8c34","order":2,"disp":false,"width":"12","collapse":false},{"id":"5c7e013d.5c144","type":"ui_group","z":"","name":"Group 2","tab":"5edc0dfd.2d8c34","order":3,"disp":false,"width":"12","collapse":false},{"id":"7227dd65.dd09d4","type":"ui_group","z":"","name":"Location","tab":"3f5844c9.9d748c","order":4,"disp":true,"width":"2","collapse":false},{"id":"83ce3b5b.ac1228","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"c6d4bfb.fd3cd4","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"4c642788.41bdb8","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"98c597b2.00f218","type":"twitter-credentials","z":"","screen_name":"@octavainc"},{"id":"16333ac.84709c5","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"2","collapse":false},{"id":"f968cec1.a2e34","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"2","collapse":false},{"id":"7d42030b.15c2ac","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"2","collapse":false},{"id":"5ed4dbb6.9dd404","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"2","collapse":false},{"id":"49291cd6.368244","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":false,"width":"2","collapse":false},{"id":"f84f4ddf.6cb35","type":"ui_group","z":"","name":"Group 6","tab":"","order":6,"disp":false,"width":"2","collapse":false},{"id":"3c64551a.c854da","type":"ui_group","z":"","name":"Group 7","tab":"","order":7,"disp":false,"width":"2","collapse":false},{"id":"e5f05a43.d050d8","type":"ui_group","z":"","name":"Group 8","tab":"","order":8,"disp":false,"width":"2","collapse":false},{"id":"f78abe5c.46312","type":"ui_group","z":"","name":"Group 9","tab":"","order":9,"disp":false,"width":"2","collapse":false},{"id":"2e95007a.b145c","type":"ui_group","z":"","name":"Group 10","tab":"","order":10,"disp":false,"width":"2","collapse":false},{"id":"f39a6a55.17d778","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"2","collapse":false},{"id":"cba79a4.5e3fe68","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":true,"width":"2","collapse":false},{"id":"18b17fd0.0975d","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":true,"width":"2","collapse":false},{"id":"6c1e16f0.be1718","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":true,"width":"2","collapse":false},{"id":"4c72c472.6ebb3c","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":true,"width":"2","collapse":false},{"id":"6674fe8c.ca035","type":"ui_group","z":"","name":"Group 6","tab":"","order":6,"disp":true,"width":"2","collapse":false},{"id":"441662dc.dc840c","type":"ui_group","z":"","name":"Group 7","tab":"","order":7,"disp":true,"width":"2","collapse":false},{"id":"340fec2d.a6b2c4","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"2","collapse":false},{"id":"ddca1b5b.c99138","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"2","collapse":false},{"id":"afc7248c.558728","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"2","collapse":false},{"id":"8d8a6ac9.f201b8","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"2","collapse":false},{"id":"4c9719d9.26cfb8","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":false,"width":"2","collapse":false},{"id":"b00e26e2.765ca8","type":"ui_group","z":"","name":"Group 6","tab":"","order":6,"disp":false,"width":"2","collapse":false},{"id":"60b4d538.fa73ec","type":"ui_group","z":"","name":"Group 7","tab":"","order":7,"disp":false,"width":"2","collapse":false},{"id":"291307f4.2a25c8","type":"ui_group","z":"","name":"Group 8","tab":"","order":8,"disp":false,"width":"2","collapse":false},{"id":"6e43da50.5a14d4","type":"ui_group","z":"","name":"Favorite","tab":"","order":9,"disp":false,"width":"2","collapse":false},{"id":"121cb6ab.867489","type":"ui_group","z":"","name":"Channels","tab":"","order":10,"disp":false,"width":"2","collapse":false},{"id":"c250137c.5c335","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"2","collapse":false},{"id":"82efb6a5.c40708","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"2","collapse":false},{"id":"567b202e.32cff","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"2","collapse":false},{"id":"2f7533f8.94290c","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"2","collapse":false},{"id":"68963623.c79ca8","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":false,"width":"2","collapse":false},{"id":"f87b397f.37c348","type":"ui_group","z":"","name":"Group 6","tab":"","order":6,"disp":false,"width":"2","collapse":false},{"id":"b6322.cc3cfcde","type":"ui_group","z":"","name":"Group 7","tab":"","order":7,"disp":false,"width":"2","collapse":false},{"id":"9e2ba8cd.18f1a8","type":"ui_group","z":"","name":"Group 8","tab":"","order":8,"disp":false,"width":"2","collapse":false},{"id":"665dadf1.93f4a4","type":"ui_group","z":"","name":"Group 9","tab":"","order":9,"disp":false,"width":"2","collapse":false},{"id":"b4d66c99.8b549","type":"ui_group","z":"","name":"Group 10","tab":"","order":10,"disp":false,"width":"2","collapse":false},{"id":"66399969.fe2938","type":"ui_group","z":"","name":"Gauge","tab":"","order":2,"disp":true,"width":"6"},{"id":"b00b6cc6.19d54","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"10","collapse":false},{"id":"f355944a.dac008","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"5a2f1633.896f38","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"24af451c.86784a","type":"ui_group","name":"Group 4","tab":"","order":4,"disp":true,"width":6},{"id":"66a68030.e7322","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"41c44608.598018","type":"ui_group","z":"","name":"Channel Name","tab":"","order":1,"disp":true,"width":"5","collapse":false},{"id":"654a7684.ebfba8","type":"ui_group","z":"","name":"     Channel Number","tab":"","order":3,"disp":true,"width":"5","collapse":false},{"id":"2ecda4d.c30445c","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"e3335909.4858c8","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"4","collapse":false},{"id":"a2cf4286.7e92e","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"7286f267.830b7c","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"4","collapse":false},{"id":"9c9b889a.0804f8","type":"ui_group","z":"","name":"Group 5","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"edeed007.f9ccd","type":"ui_group","z":"","name":"Model","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"47cef06e.2f51f","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"a39d3c13.d6f5b","type":"ui_group","z":"","name":"Group 2","tab":"7444dc56.084214","order":2,"disp":false,"width":"24","collapse":false},{"id":"7928df3b.7d99a","type":"ui_group","z":"","name":"Group 3","tab":"7444dc56.084214","order":3,"disp":false,"width":"24","collapse":false},{"id":"a14066f8.4a90c8","type":"ui_spacer","name":"spacer","group":"a39d3c13.d6f5b","order":1,"width":"6","height":"2"},{"id":"94ed2499.76f568","type":"ui_spacer","name":"spacer","group":"7928df3b.7d99a","order":1,"width":"6","height":"2"},{"id":"75038281.e8b0ac","type":"ui_spacer","name":"spacer","group":"bbbfa5f5.3ba648","order":1,"width":"6","height":"2"},{"id":"557f7169.cdcfc","type":"ui_spacer","name":"spacer","group":"9789be4b.93d3c","order":1,"width":"9","height":1},{"id":"7ee440bd.b262b","type":"ui_spacer","name":"spacer","group":"bbbfa5f5.3ba648","order":3,"width":"10","height":1},{"id":"96e8697b.4fb288","type":"ui_group","z":"","name":"Group 4","tab":"7444dc56.084214","order":4,"disp":false,"width":"24","collapse":false},{"id":"4ba07da.67fa684","type":"ui_spacer","name":"spacer","group":"96e8697b.4fb288","order":1,"width":"6","height":"2"},{"id":"fc0a12dc.b4609","type":"firebase config","z":"","firebaseurl":"waitlisttitan","loginType":"none"},{"id":"8c471cea.62a3f","type":"ui_group","z":"","name":"Header Group","tab":"5edc0dfd.2d8c34","order":1,"disp":false,"width":"12","collapse":false},{"id":"d2339945.2b2b48","type":"ui_group","z":"","name":"Team","tab":"3f5844c9.9d748c","order":7,"disp":true,"width":"2","collapse":false},{"id":"9d08ab87.5af998","type":"ui_tab","z":"","name":"Comcast #1","icon":"dashboard","order":7},{"id":"7a06b06b.01437","type":"ui_tab","z":"","name":"Home","icon":"home","order":1},{"id":"662b0702.e4b3d8","type":"ui_group","z":"","name":"Group 1","tab":"7a06b06b.01437","order":1,"disp":false,"width":"2","collapse":false},{"id":"1a34a3c.1c4365c","type":"ui_group","z":"","name":"Group 1","tab":"9d08ab87.5af998","order":1,"disp":true,"width":"2","collapse":false},{"id":"f2874d2.30ebdb","type":"ui_tab","z":"","name":"IR Control STB","icon":"settings_remote","order":2},{"id":"ace0e545.2ad8e8","type":"ui_tab","z":"","name":"System Setup ","icon":"edit","order":6},{"id":"e15b5c85.45de5","type":"ui_tab","z":"","name":"Save as Favorite","icon":"bookmark","order":3},{"id":"817fbd9a.06c5b","type":"ui_tab","z":"","name":"Channel Setup","icon":"star","order":4},{"id":"ccf45359.d4109","type":"ui_tab","z":"","name":"IP Address ","icon":"router","order":5},{"id":"d80c6f2b.3741c","type":"ui_tab","z":"","name":"Switch Video","icon":"view_module","order":8},{"id":"59b9509b.2913f","type":"ui_tab","z":"","name":"Status Monitor","icon":"dashboard","order":9},{"id":"42db8b87.9b0e64","type":"ui_tab","z":"","name":"Comcast #1","icon":"dashboard","order":7},{"id":"6147daf4.e8d0b4","type":"ui_tab","z":"","name":"Home","icon":"view_module","order":1},{"id":"1b45ea72.980fb6","type":"ui_tab","z":"","name":"IR Control STB","icon":"settings_remote","order":2},{"id":"179e76dc.215839","type":"ui_tab","z":"","name":"System Setup ","icon":"edit","order":6},{"id":"9232f53e.40acf8","type":"ui_tab","z":"","name":"Save as Favorite","icon":"bookmark","order":3},{"id":"8f83ce14.ce9a3","type":"ui_tab","z":"","name":"Channel Setup","icon":"star","order":4},{"id":"34c11853.ab99e8","type":"ui_tab","z":"","name":"IP Address ","icon":"router","order":5},{"id":"d250f0d2.52a58","type":"websocket-listener","z":"","path":"/ws/switchstatus","wholemsg":"false"},{"id":"2f44a20d.83e9ae","type":"ftp","z":"","host":"192.168.1.89","port":"21","secureOptions":"","user":"pi","connTimeout":"","pasvTimeout":"","keepalive":""},{"id":"ff61bd34.d413c","type":"ftp","z":"","host":"xxx.xxx.xxx.xxx","port":"21","secureOptions":"","user":"username","connTimeout":"","pasvTimeout":"","keepalive":""},{"id":"77b58811.b72698","type":"ftp","z":"","host":"192.168.70.3","port":"","secureOptions":"","user":"pi","connTimeout":"10000","pasvTimeout":"10000","keepalive":"10000"},{"id":"a03223ea.89bd5","type":"SFTP-credentials","z":"","host":"192.168.1.89","port":"22","username":"pi","password":"octava+314"},{"id":"6fea4cc8.92faf4","type":"sftp","z":"","host":"192.168.1.89","port":"22","tryKeyboard":false,"key":"","keyname":"","algorithms_kex":"ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1","algorithms_cipher":"aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm,aes128-gcm@openssh.com,aes256-gcm,aes256-gcm@openssh.com","algorithms_serverHostKey":"ssh-rsa,ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521","algorithms_hmac":"hmac-sha2-256,hmac-sha2-512,hmac-sha1","algorithms_compress":"none,zlib@openssh.com,zlib"},{"id":"7ee8639f.52c08c","type":"ui_group","z":"","name":"Última pierna procesada","tab":"a8eb0ddf.b355a","order":8,"disp":true,"width":"7"},{"id":"a8eb0ddf.b355a","type":"ui_tab","z":"","name":"CALIDAD PULPAS CINTA 0","icon":"dashboard"},{"id":"fad451e6.6b204","type":"ui_group","z":"","name":"Última pierna procesada","tab":"ef5c54d4.666308","order":8,"disp":true,"width":"7"},{"id":"ef5c54d4.666308","type":"ui_tab","z":"","name":"CALIDAD PULPAS CINTA 0","icon":"dashboard"},{"id":"afea2a9f.e5e788","type":"ui_group","z":"","name":"Última pierna procesada","tab":"cb36a79b.df0ad8","order":8,"disp":true,"width":"7"},{"id":"cb36a79b.df0ad8","type":"ui_tab","z":"","name":"CALIDAD PULPAS CINTA 0","icon":"dashboard"},{"id":"8404e60f.6eca48","type":"inject","z":"38c46005.2089","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":340,"wires":[["196e915f.2e837f","e1406644.b38798","32f30966.6db996","691a6576.0f6afc","7ad9e829.8547d8","f37fd045.d19b2"]]},{"id":"d68b2f6a.04bf7","type":"inject","z":"38c46005.2089","name":"Initialize Globals","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":80,"wires":[["cab429ef.b82678"]]},{"id":"cab429ef.b82678","type":"function","z":"38c46005.2089","name":"Initialize","func":"global.set('NodeRedIPAddress','');\nglobal.set('SwitchIPAddress_1','');\nglobal.set('SwitchIPAddress_2','');\nglobal.set('SwitchPingTest_1','ok');// is Cisco Switch1 connected?\nglobal.set('SwitchPingTest_2','ok');// is Cisco Switch2 connected?\n\nglobal.set('model','');\nglobal.set('rxCount','');\nglobal.set('txCount','');\nglobal.set('uniqueVlans','');\nglobal.set('vlan1Count','');\nglobal.set('PoE','');\nglobal.set('PoE_Percentage');\nglobal.set('PS1Stat','');\nglobal.set('Fan1Stat','');\nglobal.set('Fan2Stat','');\nglobal.set('Fan3Stat','');\nglobal.set('Fan1RPM','');\nglobal.set('Temperature','');\n\nglobal.set('counter1',0);\nglobal.set('counter2',0);  // counter for swtich1 portstatus\nglobal.set('counter3',0);// counter for swtich1 portvlanmembership\nglobal.set('counter4',0); // counter for swtich2 portstatus\nglobal.set('counter5',0);// counter for swtich2 portvlanmembership\n\nglobal.set('PortOperationalStatus',\n[]); // PortOperationalStatus\n\nglobal.set('PortVlanMembership',\n[ ]); // PortVlanMembership\n\nglobal.set('PortOperationalStatus_2',\n[]); // PortOperationalStatus\n\nglobal.set('PortVlanMembership_2',\n[ ]); // PortVlanMembership\n\n","outputs":1,"noerr":0,"x":500,"y":80,"wires":[[]]},{"id":"196e915f.2e837f","type":"ip","z":"38c46005.2089","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":true,"publicIPv4":true,"publicIPv6":false,"x":578.3868179321289,"y":282.4648914337158,"wires":[["838ffa8c.a8d608"]]},{"id":"838ffa8c.a8d608","type":"function","z":"38c46005.2089","name":"","func":"var NodeRedIPAddress = msg.payload.internalIPv4;\nglobal.set('NodeRedIPAddress',NodeRedIPAddress);\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1055.0001907348633,"y":285.0000686645508,"wires":[[]]},{"id":"360af35a.a1a0bc","type":"comment","z":"38c46005.2089","name":"get IP address of Node Red Host","info":"","x":598.5000915527344,"y":240.0000457763672,"wires":[]},{"id":"36fa81b.1b7317e","type":"http request","z":"38c46005.2089","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1122.5002708435059,"y":385.0000286102295,"wires":[["f90e03f9.c3d"]]},{"id":"320ec212.e4a65e","type":"function","z":"38c46005.2089","name":"set.url","func":"msg.url = 'http://'+global.get('NodeRedIPAddress') +':3000/read/UserSwitchConfig';\nreturn msg;\n","outputs":1,"noerr":0,"x":754.6668186187744,"y":386.6667003631592,"wires":[["36fa81b.1b7317e"]]},{"id":"37deac0e.47dec4","type":"function","z":"38c46005.2089","name":"global.set('SwitchIPAddress',SwitchIPAddress)","func":"var SwitchIPAddress_1 = msg.payload.ip1;\nvar SwitchIPAddress_2 = msg.payload.ip2;\nglobal.set('SwitchIPAddress_1',SwitchIPAddress_1);\nglobal.set('SwitchIPAddress_2',SwitchIPAddress_2);\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1780,"y":380,"wires":[[]]},{"id":"f90e03f9.c3d","type":"json","z":"38c46005.2089","name":"","property":"payload","action":"","pretty":false,"x":1410,"y":380,"wires":[["37deac0e.47dec4","8231f8da.8e5528"]]},{"id":"218391df.852f5e","type":"comment","z":"38c46005.2089","name":"app.get [Cisco IP Address]:3000/read/UserSwitchConfig'","info":"call :3000 API to get Cisco Switch IP Address","x":1019.0001182556152,"y":344.99999809265137,"wires":[]},{"id":"e1406644.b38798","type":"delay","z":"38c46005.2089","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":582.0000076293945,"y":389.99999809265137,"wires":[["320ec212.e4a65e"]]},{"id":"5f2a5483.7308bc","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":603,"y":3132,"wires":[["579423d4.a5083c"],[],[]]},{"id":"579423d4.a5083c","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1353,"y":3088,"wires":[["faaae770.783558"]]},{"id":"1893a621.4316ca","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":603,"y":3212,"wires":[["5a00102a.b564a"],[],[]]},{"id":"5a00102a.b564a","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload  = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1175,"y":3218,"wires":[["436375c8.50426c"]]},{"id":"faaae770.783558","type":"function","z":"38c46005.2089","name":"counter1val","func":"global.set(\"RX1counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1779,"y":3098,"wires":[[]]},{"id":"436375c8.50426c","type":"function","z":"38c46005.2089","name":"counter2val","func":"global.set(\"RX1counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1471,"y":3212,"wires":[["d635d2e0.22036"]]},{"id":"d635d2e0.22036","type":"function","z":"38c46005.2089","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX1counter1val\");\nvar RXcounter2val = global.get(\"RX1counter2val\");\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":1819,"y":3210,"wires":[[]]},{"id":"9cfcf813.b72e28","type":"comment","z":"38c46005.2089","name":"Port Received Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":463,"y":3052,"wires":[]},{"id":"6a1a3a42.3c5154","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":543,"y":3492,"wires":[["87d9d0e2.f6f9e"],[],[]]},{"id":"87d9d0e2.f6f9e","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1155,"y":3472,"wires":[["75358c26.28c3d4"]]},{"id":"a5f9a290.ce844","type":"delay","z":"38c46005.2089","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":303,"y":3572,"wires":[["5348d2e3.7e1a7c"]]},{"id":"5348d2e3.7e1a7c","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":523,"y":3572,"wires":[["34b39184.d081de"],[],[]]},{"id":"34b39184.d081de","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1115,"y":3572,"wires":[["c1cd3500.d443b8"]]},{"id":"75358c26.28c3d4","type":"function","z":"38c46005.2089","name":"TXcounter1val","func":"global.set(\"TX1counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1811,"y":3480,"wires":[[]]},{"id":"c1cd3500.d443b8","type":"function","z":"38c46005.2089","name":"TXcounter2val","func":"global.set(\"TX1counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1535,"y":3572,"wires":[["17172b48.c87925"]]},{"id":"17172b48.c87925","type":"function","z":"38c46005.2089","name":"Out Utilization","func":"var TXcounter1val = global.get(\"TX1counter1val\");\nvar TXcounter2val = global.get(\"TX1counter2val\");\nvar outputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(TXcounter1val<TXcounter2val){\n    \n    outputUtilization_Mbp = Math.round(((TXcounter2val-TXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    outputUtilization_Mbp = Math.round((((TXcounter2val+Counter32bit )-TXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = outputUtilization_Mbp +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":1807,"y":3568,"wires":[[]]},{"id":"2b629bfc.467b04","type":"comment","z":"38c46005.2089","name":"Port TX Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":503,"y":3432,"wires":[]},{"id":"2caf3822.887e18","type":"function","z":"38c46005.2089","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.1\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.1\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":223,"y":3172,"wires":[["5f2a5483.7308bc"],["6316ec16.988db4"]]},{"id":"45443285.cde12c","type":"function","z":"38c46005.2089","name":"OID: ifOutOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.16.1\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.16.1\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":183,"y":3492,"wires":[["6a1a3a42.3c5154"],["a5f9a290.ce844"]]},{"id":"6316ec16.988db4","type":"delay","z":"38c46005.2089","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":363,"y":3212,"wires":[["1893a621.4316ca"]]},{"id":"6d0a3897.44e028","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":483,"y":3752,"wires":[["3152d67f.6ab8fa"],[],[]]},{"id":"3152d67f.6ab8fa","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1067,"y":3736,"wires":[["3de7d51b.3f653a"]]},{"id":"331818df.4e9808","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":483,"y":3832,"wires":[["83c13303.9437e"],[],[]]},{"id":"83c13303.9437e","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1023,"y":3820,"wires":[["c45a58f5.356988"]]},{"id":"3de7d51b.3f653a","type":"function","z":"38c46005.2089","name":"counter1val","func":"global.set(\"RX2counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1453,"y":3732,"wires":[[]]},{"id":"c45a58f5.356988","type":"function","z":"38c46005.2089","name":"counter2val","func":"global.set(\"RX2counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1469,"y":3816,"wires":[["661e7d3f.e0f9f4"]]},{"id":"661e7d3f.e0f9f4","type":"function","z":"38c46005.2089","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX2counter1val\");\nvar RXcounter2val = global.get(\"RX2counter2val\");\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":1831,"y":3816,"wires":[[]]},{"id":"ee1bea98.d120e8","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":523,"y":4032,"wires":[["176f5b3f.bda1e5"],[],[]]},{"id":"176f5b3f.bda1e5","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1115,"y":4032,"wires":[["a9ab4b62.f2c6a8"]]},{"id":"98e3f6c3.9593b8","type":"delay","z":"38c46005.2089","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":283,"y":4112,"wires":[["e6ea60d2.e62b3"]]},{"id":"e6ea60d2.e62b3","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":503,"y":4112,"wires":[["fe0f1f00.0f5d3"],[],[]]},{"id":"fe0f1f00.0f5d3","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1087,"y":4108,"wires":[["1c9cfe97.546511"]]},{"id":"a9ab4b62.f2c6a8","type":"function","z":"38c46005.2089","name":"TXcounter1val","func":"global.set(\"TX2counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1755,"y":4020,"wires":[[]]},{"id":"1c9cfe97.546511","type":"function","z":"38c46005.2089","name":"TXcounter2val","func":"global.set(\"TX2counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1435,"y":4108,"wires":[["17189345.47dfbd"]]},{"id":"17189345.47dfbd","type":"function","z":"38c46005.2089","name":"Out Utilization","func":"var TXcounter1val = global.get(\"TX2counter1val\");\nvar TXcounter2val = global.get(\"TX2counter2val\");\nvar outputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(TXcounter1val<TXcounter2val){\n    \n    outputUtilization_Mbp = Math.round(((TXcounter2val-TXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    outputUtilization_Mbp = Math.round((((TXcounter2val+Counter32bit )-TXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = outputUtilization_Mbp +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":1763,"y":4100,"wires":[[]]},{"id":"1efec22b.d655ae","type":"comment","z":"38c46005.2089","name":"Port TX Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":483,"y":3972,"wires":[]},{"id":"a829bd43.f7a7f","type":"function","z":"38c46005.2089","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.2\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.2\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":143,"y":3752,"wires":[["6d0a3897.44e028"],["9bcb8851.4223a8"]]},{"id":"1b8c9b5b.9bf245","type":"function","z":"38c46005.2089","name":"OID: ifOutOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.16.2\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.16.2\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":123,"y":4032,"wires":[["ee1bea98.d120e8"],["98e3f6c3.9593b8"]]},{"id":"9bcb8851.4223a8","type":"delay","z":"38c46005.2089","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":263,"y":3832,"wires":[["331818df.4e9808"]]},{"id":"131ae927.a85967","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":523,"y":4352,"wires":[["be7f307.61c43d"],[],[]]},{"id":"be7f307.61c43d","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1299,"y":4328,"wires":[["746125e0.1872ec"]]},{"id":"88a25321.35e8a","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":523,"y":4432,"wires":[["13055121.6e5baf"],[],[]]},{"id":"13055121.6e5baf","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1107,"y":4432,"wires":[["d362ed68.39f18"]]},{"id":"746125e0.1872ec","type":"function","z":"38c46005.2089","name":"counter1val","func":"global.set(\"RX3counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1801,"y":4332,"wires":[[]]},{"id":"d362ed68.39f18","type":"function","z":"38c46005.2089","name":"counter2val","func":"global.set(\"RX3counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1489,"y":4420,"wires":[["ba29063a.9b1168"]]},{"id":"ba29063a.9b1168","type":"function","z":"38c46005.2089","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX3counter1val\");\nvar RXcounter2val = global.get(\"RX3counter2val\");\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":1819,"y":4444,"wires":[[]]},{"id":"41b57e52.bb8d9","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":563,"y":4632,"wires":[["249f3bbe.e1dcd4"],[],[]]},{"id":"249f3bbe.e1dcd4","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1131,"y":4628,"wires":[["bfaf330e.0ffc9"]]},{"id":"da50137f.1a78","type":"delay","z":"38c46005.2089","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":323,"y":4712,"wires":[["3b00ab8c.64f784"]]},{"id":"3b00ab8c.64f784","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":543,"y":4712,"wires":[["24851c7.2eeace4"],[],[]]},{"id":"24851c7.2eeace4","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1039,"y":4720,"wires":[["4f2a93e6.4c354c"]]},{"id":"bfaf330e.0ffc9","type":"function","z":"38c46005.2089","name":"TXcounter1val","func":"global.set(\"TX3counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1551,"y":4612,"wires":[[]]},{"id":"4f2a93e6.4c354c","type":"function","z":"38c46005.2089","name":"TXcounter2val","func":"global.set(\"TX3counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1391,"y":4700,"wires":[["b76cde90.1a9f8"]]},{"id":"b76cde90.1a9f8","type":"function","z":"38c46005.2089","name":"Out Utilization","func":"var TXcounter1val = global.get(\"TX3counter1val\");\nvar TXcounter2val = global.get(\"TX3counter2val\");\nvar outputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(TXcounter1val<TXcounter2val){\n    \n    outputUtilization_Mbp = Math.round(((TXcounter2val-TXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    outputUtilization_Mbp = Math.round((((TXcounter2val+Counter32bit )-TXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = outputUtilization_Mbp +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":1655,"y":4696,"wires":[[]]},{"id":"d1fc9a53.a359c8","type":"comment","z":"38c46005.2089","name":"Port TX Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":523,"y":4572,"wires":[]},{"id":"8f0ca1d3.aaa04","type":"function","z":"38c46005.2089","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.3\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.3\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":183,"y":4352,"wires":[["131ae927.a85967"],["15c6cccd.c67893"]]},{"id":"fca44b44.ac1ae8","type":"function","z":"38c46005.2089","name":"OID: ifOutOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.16.3\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.16.3\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":163,"y":4632,"wires":[["41b57e52.bb8d9"],["da50137f.1a78"]]},{"id":"15c6cccd.c67893","type":"delay","z":"38c46005.2089","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":303,"y":4432,"wires":[["88a25321.35e8a"]]},{"id":"2394a596.c918aa","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":523,"y":4892,"wires":[["c224f1e9.2ae23"],[],[]]},{"id":"c224f1e9.2ae23","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1067,"y":4888,"wires":[["f924386c.0ca058"]]},{"id":"9a60caf8.077bf8","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":523,"y":4972,"wires":[["f8206540.d0c448"],[],[]]},{"id":"f8206540.d0c448","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":883,"y":4972,"wires":[["4ad6eb8d.ac3104"]]},{"id":"f924386c.0ca058","type":"function","z":"38c46005.2089","name":"counter1val","func":"global.set(\"RX4counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1477,"y":4892,"wires":[[]]},{"id":"4ad6eb8d.ac3104","type":"function","z":"38c46005.2089","name":"counter2val","func":"global.set(\"RX4counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1305,"y":4968,"wires":[["b6ef740a.850c88"]]},{"id":"b6ef740a.850c88","type":"function","z":"38c46005.2089","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX4counter1val\");\nvar RXcounter2val = global.get(\"RX4counter2val\");\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":1627,"y":4980,"wires":[[]]},{"id":"6bfe1f30.23ff1","type":"function","z":"38c46005.2089","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.4\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.4\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":183,"y":4892,"wires":[["2394a596.c918aa"],["41be2b3a.1c9ee4"]]},{"id":"41be2b3a.1c9ee4","type":"delay","z":"38c46005.2089","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":303,"y":4972,"wires":[["9a60caf8.077bf8"]]},{"id":"d41a3dfc.e01f7","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2931,"y":3632.5,"wires":[["2917e17a.3e62ce"],[],[]]},{"id":"2917e17a.3e62ce","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3635,"y":3616.5,"wires":[["20849344.52121c"]]},{"id":"6107df7.35af72","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2931,"y":3732.5,"wires":[["872de550.cdaec8"],[],[]]},{"id":"872de550.cdaec8","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload  = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3443,"y":3724.5,"wires":[["55c6146.e52caec"]]},{"id":"20849344.52121c","type":"function","z":"38c46005.2089","name":"counter1val","func":"global.set(\"RX6counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":4153,"y":3604.5,"wires":[[]]},{"id":"55c6146.e52caec","type":"function","z":"38c46005.2089","name":"counter2val","func":"global.set(\"RX6counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3893,"y":3720.5,"wires":[["db9559fc.bfdcc8"]]},{"id":"db9559fc.bfdcc8","type":"function","z":"38c46005.2089","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX6counter1val\");\nvar RXcounter2val = global.get(\"RX6counter2val\");\n\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":4231,"y":3712.5,"wires":[[]]},{"id":"1dd9fb87.037ed4","type":"comment","z":"38c46005.2089","name":"Port Received Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":2921,"y":3552.5,"wires":[]},{"id":"1b7abdbb.517f02","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2971,"y":3992.5,"wires":[["48c5189d.83f6c8"],[],[]]},{"id":"48c5189d.83f6c8","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3641,"y":3984.5,"wires":[["47e54043.58c9f"]]},{"id":"4e28743b.e1c92c","type":"delay","z":"38c46005.2089","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2701,"y":4072.5,"wires":[["6c24f4d6.27112c"]]},{"id":"6c24f4d6.27112c","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2951,"y":4072.5,"wires":[["a91d052.2ff16f8"],[],[]]},{"id":"a91d052.2ff16f8","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3557,"y":4072.5,"wires":[["c362683.78ea498"]]},{"id":"47e54043.58c9f","type":"function","z":"38c46005.2089","name":"TXcounter1val","func":"global.set(\"TX6counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":4211,"y":3984.5,"wires":[[]]},{"id":"c362683.78ea498","type":"function","z":"38c46005.2089","name":"TXcounter2val","func":"global.set(\"TX6counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3891,"y":4068.5,"wires":[["35c04afc.f05356"]]},{"id":"35c04afc.f05356","type":"function","z":"38c46005.2089","name":"Out Utilization","func":"var TXcounter1val = global.get(\"TX6counter1val\");\nvar TXcounter2val = global.get(\"TX6counter2val\");\nvar outputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(TXcounter1val<TXcounter2val){\n    \n    outputUtilization_Mbp = Math.round(((TXcounter2val-TXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    outputUtilization_Mbp = Math.round((((TXcounter2val+Counter32bit )-TXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = outputUtilization_Mbp +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":4211,"y":4096.5,"wires":[[]]},{"id":"39244202.6b40ce","type":"comment","z":"38c46005.2089","name":"Port TX Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":2961,"y":3932.5,"wires":[]},{"id":"fa6cdded.1739f","type":"function","z":"38c46005.2089","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.6\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.6\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":2551,"y":3652.5,"wires":[["d41a3dfc.e01f7"],["cdc2e054.11e94"]]},{"id":"1e4199ba.f48df6","type":"function","z":"38c46005.2089","name":"OID: ifOutOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.16.6\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.16.6\"};\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":2551,"y":3992.5,"wires":[["1b7abdbb.517f02"],["4e28743b.e1c92c"]]},{"id":"cdc2e054.11e94","type":"delay","z":"38c46005.2089","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2681,"y":3732.5,"wires":[["6107df7.35af72"]]},{"id":"5154bb06.5e0174","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2871,"y":4272.5,"wires":[["817fd29.fbb843"],[],[]]},{"id":"817fd29.fbb843","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3587,"y":4252.5,"wires":[["f29befc5.6fa44"]]},{"id":"b081b5d3.d53cf8","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2871,"y":4372.5,"wires":[["a0ab7230.da21e"],[],[]]},{"id":"a0ab7230.da21e","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload  = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3423,"y":4356.5,"wires":[["a1143be6.a80a28"]]},{"id":"f29befc5.6fa44","type":"function","z":"38c46005.2089","name":"counter1val","func":"global.set(\"RX7counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":4233,"y":4248.5,"wires":[[]]},{"id":"a1143be6.a80a28","type":"function","z":"38c46005.2089","name":"counter2val","func":"global.set(\"RX7counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3825,"y":4352.5,"wires":[["f8b66b8.f9ab798"]]},{"id":"f8b66b8.f9ab798","type":"function","z":"38c46005.2089","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX7counter1val\");\nvar RXcounter2val = global.get(\"RX7counter2val\");\n\n\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":4223,"y":4380.5,"wires":[[]]},{"id":"a9693610.430ef8","type":"comment","z":"38c46005.2089","name":"Port Received Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":2891,"y":4192.5,"wires":[]},{"id":"1334396c.9940c7","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2911,"y":4632.5,"wires":[["821d8070.ff86f"],[],[]]},{"id":"821d8070.ff86f","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3575,"y":4604.5,"wires":[["51d789cb.d3d958"]]},{"id":"f71f82cc.75c74","type":"delay","z":"38c46005.2089","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2671,"y":4712.5,"wires":[["f1c66909.96dba8"]]},{"id":"f1c66909.96dba8","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2891,"y":4712.5,"wires":[["45836287.6f90bc"],[],[]]},{"id":"45836287.6f90bc","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3435,"y":4700.5,"wires":[["7191decc.18ed9"]]},{"id":"51d789cb.d3d958","type":"function","z":"38c46005.2089","name":"TXcounter1val","func":"global.set(\"TX7counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":4195,"y":4608.5,"wires":[[]]},{"id":"7191decc.18ed9","type":"function","z":"38c46005.2089","name":"TXcounter2val","func":"global.set(\"TX7counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3911,"y":4708.5,"wires":[["49e9d4d4.153dfc"]]},{"id":"49e9d4d4.153dfc","type":"function","z":"38c46005.2089","name":"Out Utilization","func":"var TXcounter1val = global.get(\"TX7counter1val\");\nvar TXcounter2val = global.get(\"TX7counter2val\");\nvar outputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(TXcounter1val<TXcounter2val){\n    \n    outputUtilization_Mbp = Math.round(((TXcounter2val-TXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    outputUtilization_Mbp = Math.round((((TXcounter2val+Counter32bit )-TXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = outputUtilization_Mbp +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":4211,"y":4720.5,"wires":[[]]},{"id":"90cd4d51.d9e97","type":"comment","z":"38c46005.2089","name":"Port TX Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":2931,"y":4572.5,"wires":[]},{"id":"5c3b990a.e29cd8","type":"function","z":"38c46005.2089","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.7\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.7\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":2511,"y":4292.5,"wires":[["5154bb06.5e0174"],["f4743946.6a6c98"]]},{"id":"b60fb90.2132748","type":"function","z":"38c46005.2089","name":"OID: ifOutOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.16.7\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.16.7\"};\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":2501,"y":4632.5,"wires":[["1334396c.9940c7"],["f71f82cc.75c74"]]},{"id":"f4743946.6a6c98","type":"delay","z":"38c46005.2089","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2651,"y":4372.5,"wires":[["b081b5d3.d53cf8"]]},{"id":"f85e5c0e.9d648","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2851,"y":4872.5,"wires":[["8edf2106.5ba5a"],[],[]]},{"id":"8edf2106.5ba5a","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3503,"y":4836.5,"wires":[["82f07826.57ee08"]]},{"id":"d4cc9b44.c6edb8","type":"exec","z":"38c46005.2089","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2851,"y":4972.5,"wires":[["44d1c43e.3fd4bc"],[],[]]},{"id":"44d1c43e.3fd4bc","type":"function","z":"38c46005.2089","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload  = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3383,"y":4956.5,"wires":[["d07f662c.ecf298"]]},{"id":"82f07826.57ee08","type":"function","z":"38c46005.2089","name":"counter1val","func":"global.set(\"RX8counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":4189,"y":4836.5,"wires":[[]]},{"id":"d07f662c.ecf298","type":"function","z":"38c46005.2089","name":"counter2val","func":"global.set(\"RX8counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3789,"y":4948.5,"wires":[["f2a95340.5a1f2"]]},{"id":"f2a95340.5a1f2","type":"function","z":"38c46005.2089","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX8counter1val\");\nvar RXcounter2val = global.get(\"RX8counter2val\");\n\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":4211,"y":4960.5,"wires":[[]]},{"id":"fd479dbf.262b6","type":"function","z":"38c46005.2089","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.8\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.8\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":2491,"y":4892.5,"wires":[["f85e5c0e.9d648"],["7b8baae9.4f3c04"]]},{"id":"7b8baae9.4f3c04","type":"delay","z":"38c46005.2089","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2631,"y":4972.5,"wires":[["d4cc9b44.c6edb8"]]},{"id":"9501d18b.fb473","type":"function","z":"38c46005.2089","name":"Switch Ping Test.","func":"//If exec responds with 'Timeout' then set SwitchPingTest = 'fail'. If response is ok, SweichPingTest = 'ok'\n\n\nif(msg.payload === false){\n    global.set('SwitchPingTest_1','fail');\n\n}else{\n    global.set('SwitchPingTest_1','ok');\n}\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":460,"wires":[[]]},{"id":"1522cea9.ebaa61","type":"conf ping","z":"38c46005.2089","name":"","host":"","timeout":"5","requests":"1","x":890,"y":460,"wires":[["9501d18b.fb473"]]},{"id":"32f30966.6db996","type":"function","z":"38c46005.2089","name":"global.get('SwitchIPAddress_1')","func":"msg.host = global.get('SwitchIPAddress_1')\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":460,"wires":[["1522cea9.ebaa61"]]},{"id":"f93547b5.a614b8","type":"http in","z":"6d17af7a.0c3d3","name":"","url":"switchall-unit/:unit/start/:start/end/:end/vlan/:vlan","method":"get","upload":false,"swaggerDoc":"","x":260,"y":440,"wires":[["a6756f9a.95a45","806012b3.302d2","bb7a885f.875228","80f29f1c.82777","cd838e49.0baf5"]]},{"id":"4ceb3855.d60ef8","type":"comment","z":"6d17af7a.0c3d3","name":"API","info":"","x":790,"y":40,"wires":[]},{"id":"21295d2a.cdc702","type":"http response","z":"6d17af7a.0c3d3","name":"","statusCode":"","headers":{},"x":1370,"y":580,"wires":[]},{"id":"4f9a0c7c.11d554","type":"function","z":"6d17af7a.0c3d3","name":"interface range","func":"\nlet start = msg.req.params.start;\nlet end = msg.req.params.end;\n\n//msg.payload = 'interface range gi21-48'+ \"\\r\";\nmsg.payload = `interface range gi${start}-${end}`+ \"\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":480,"wires":[["8194ae94.164f5"]]},{"id":"a6756f9a.95a45","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":824.3333892822266,"y":484.000027179718,"wires":[["4f9a0c7c.11d554"]]},{"id":"cd838e49.0baf5","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":540,"wires":[["14bbb6ff.860a09"]]},{"id":"14bbb6ff.860a09","type":"function","z":"6d17af7a.0c3d3","name":"switch vlan","func":"msg.payload = msg.req.params.vlan;\nlet vlanNumber = msg.req.params.vlan;\n\nmsg.payload = \"switchport access vlan\" + vlanNumber + \"\\r\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":540,"wires":[["8194ae94.164f5","21295d2a.cdc702"]]},{"id":"806012b3.302d2","type":"function","z":"6d17af7a.0c3d3","name":"cisco","func":"\n//msg.payload = new Buffer([0x63,0x69,0x73,0x63,0x6f,0x0a,0x0D]);\nmsg.payload = \"cisco\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":160,"wires":[["8194ae94.164f5"]]},{"id":"bb7a885f.875228","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":340,"wires":[["b589a51d.70baf8"]]},{"id":"b589a51d.70baf8","type":"function","z":"6d17af7a.0c3d3","name":"sg300-octava","func":"//msg.payload = new Buffer([0x73,0x67,0x33,0x30,0x30,0x2d,0x6f,0x63,0x74,0x61,0x76,0x61,0x0d]);\nmsg.payload = \"sg300-octava\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":340,"wires":[["8194ae94.164f5"]]},{"id":"80f29f1c.82777","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":400,"wires":[["b72bc304.ea9b7"]]},{"id":"b72bc304.ea9b7","type":"function","z":"6d17af7a.0c3d3","name":"config","func":"//msg.payload = new Buffer([0x63,0x6f,0x6e,0x66,0x69,0x67,0x0a,0x0D]);\nmsg.payload = \"config\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":400,"wires":[["8194ae94.164f5"]]},{"id":"bb1dde75.c83e9","type":"tcp request","z":"6d17af7a.0c3d3","server":"","port":"23","out":"time","splitc":"5000","name":"","x":1850,"y":420,"wires":[[]]},{"id":"8194ae94.164f5","type":"function","z":"6d17af7a.0c3d3","name":"global.get('SwitchIPAddress_')","func":"\nlet unit = parseInt(msg.req.params.unit);\n\n//msg.payload = unit\nmsg.host = global.get(`SwitchIPAddress_${unit}`);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":420,"wires":[["bb1dde75.c83e9","14be656e.a0000b"]]},{"id":"7e1273c2.86cc9c","type":"schedex","z":"4462d076.169bb","name":"PoE Timer ","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"poe-on","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"poe-off","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":1030,"y":320,"wires":[["62e09614.110cb8","393dcf49.4892a"]]},{"id":"62e09614.110cb8","type":"debug","z":"4462d076.169bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":220,"wires":[]},{"id":"218c0c7b.dc4384","type":"debug","z":"4462d076.169bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":220,"wires":[]},{"id":"2b99ded2.bf3022","type":"http in","z":"4462d076.169bb","name":"","url":"/timer/poe","method":"get","upload":false,"swaggerDoc":"","x":140,"y":160,"wires":[["ca3ada8f.f18e48"]]},{"id":"37dc447c.5b4b5c","type":"file in","z":"4462d076.169bb","name":"","filename":"/home/pi/octava/public/UserSwitchConfig.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":320,"wires":[["daa0cb8d.f01d48"]]},{"id":"daa0cb8d.f01d48","type":"json","z":"4462d076.169bb","name":"","property":"payload","action":"","pretty":false,"x":670,"y":320,"wires":[["5747b375.1f4c5c"]]},{"id":"5747b375.1f4c5c","type":"function","z":"4462d076.169bb","name":"set(ontime,offtime)","func":"\nglobal.set('ontime',msg.payload.onTime);\nglobal.set('offtime',msg.payload.offTime);\n\nmsg.payload = {'ontime':global.get('ontime'),'offtime': global.get('offtime')}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":320,"wires":[["7e1273c2.86cc9c","218c0c7b.dc4384"]]},{"id":"ca3ada8f.f18e48","type":"delay","z":"4462d076.169bb","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":320,"wires":[["37dc447c.5b4b5c"]]},{"id":"393dcf49.4892a","type":"function","z":"4462d076.169bb","name":"send poe command to node red","func":"\nlet server_url = `http://${global.get('NodeRedIPAddress')}:1880`\n\nif(msg.payload == 'poe-on'){\n   \n    msg.url = `${server_url}/poe/on`\n\n}else if(msg.payload == 'poe-off'){\n    \n    msg.url = `${server_url}/poe/off`\n    \n}else{\n    msg.url = null\n}\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":460,"wires":[["2d0b4bbc.eb4494","aafb917d.ef43a"]]},{"id":"2d0b4bbc.eb4494","type":"http request","z":"4462d076.169bb","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1270,"y":460,"wires":[[]]},{"id":"aafb917d.ef43a","type":"debug","z":"4462d076.169bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":1240,"y":400,"wires":[]},{"id":"691a6576.0f6afc","type":"function","z":"38c46005.2089","name":"Time of Server","func":"\nvar d= new Date();\nvar month = d.getMonth()+1;  // add 1 to adjust for 0-11 months.\nvar date = d.getDate();\nvar hour = d.getHours();\nvar minute = d.getMinutes();\nvar year = d.getFullYear();\n\nhour_padded = hour.toString().padStart(2,'0')\nminute_padded = minute.toString().padStart(2,'0')\n\n\nglobal.set('serverTime',`${hour_padded}:${minute_padded}`)\nmsg.payload = `${hour_padded}:${minute_padded}`;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":180,"wires":[[]]},{"id":"46038722.c26448","type":"exec","z":"5b876f41.262ae","command":"","addpay":true,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"","x":890,"y":100,"wires":[[],[],[]]},{"id":"569ac6f3.afcba8","type":"http in","z":"5b876f41.262ae","name":"","url":"/showImageHdmi/:image","method":"get","upload":false,"swaggerDoc":"","x":140,"y":140,"wires":[["d0dd3380.b816e","98e7c03d.a804f"]]},{"id":"d0dd3380.b816e","type":"http response","z":"5b876f41.262ae","name":"","statusCode":"","headers":{},"x":370,"y":60,"wires":[]},{"id":"98e7c03d.a804f","type":"function","z":"5b876f41.262ae","name":"count send image. ","func":"let image_send_count = global.get('fbi_image_counter');\nlet picture =  msg.req.params.image;\n\nimage_send_count++ ;\n\nglobal.set('fbi_image_counter',image_send_count);\n\nmsg.count =  image_send_count   ;\nmsg.payload =`sudo fbi --autozoom --noverbose --vt 1 /home/pi/Pictures/${picture}.png`\n\nreturn msg\n\n\n\n","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["7335c276.aaf61c","ec97611b.4988d"]]},{"id":"7335c276.aaf61c","type":"switch","z":"5b876f41.262ae","name":"","property":"count","propertyType":"msg","rules":[{"t":"neq","v":"5","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":140,"wires":[["46038722.c26448"],["9499b4d4.d9b8e8","d5a6230c.1c9f5"]]},{"id":"123983f4.c5af0c","type":"exec","z":"5b876f41.262ae","command":"sudo killall fbi","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"","x":1230,"y":220,"wires":[[],[],[]]},{"id":"ec97611b.4988d","type":"debug","z":"5b876f41.262ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","x":650,"y":80,"wires":[]},{"id":"9499b4d4.d9b8e8","type":"function","z":"5b876f41.262ae","name":"global.set('fbi_image_counter',0);","func":"msg.payload = 'quit fbi process'\nglobal.set('fbi_image_counter',0);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":220,"wires":[["c4c69d79.cc228"]]},{"id":"c4c69d79.cc228","type":"delay","z":"5b876f41.262ae","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":220,"wires":[["123983f4.c5af0c"]]},{"id":"d5a6230c.1c9f5","type":"exec","z":"5b876f41.262ae","command":"","addpay":true,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"","x":890,"y":160,"wires":[[],[],[]]},{"id":"8a649663.2972f8","type":"debug","z":"a4711478.085018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req","targetType":"msg","x":300,"y":80,"wires":[]},{"id":"fdc7a75d.2e9378","type":"http in","z":"a4711478.085018","name":"","url":"/update","method":"post","upload":true,"swaggerDoc":"","x":90,"y":240,"wires":[["8a649663.2972f8","8c679851.e00288"]]},{"id":"b0b5dbb.dbec228","type":"function","z":"a4711478.085018","name":"msg.payload = msg.req","func":"msg.payload = msg.req.files[0].buffer\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["605d7a3c.da6f64"]]},{"id":"605d7a3c.da6f64","type":"file","z":"a4711478.085018","name":"","filename":"/home/pi/octava/public/dist.tar","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":690,"y":460,"wires":[["eaff6ebb.2fea2"]]},{"id":"eaff6ebb.2fea2","type":"delay","z":"a4711478.085018","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":460,"wires":[["c772ee1c.702a4","6dbf50f2.ac263"]]},{"id":"653f43db.b47b3c","type":"function","z":"a4711478.085018","name":"NOT tar","func":"msg.payload = 'not dist.tar file!'\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":220,"wires":[["81a83bcb.6fa388","7a099e8a.06fcd"]]},{"id":"8c679851.e00288","type":"switch","z":"a4711478.085018","name":"check mimetype","property":"req.files[0].mimetype","propertyType":"msg","rules":[{"t":"neq","v":"application/x-tar","vt":"str"},{"t":"eq","v":"application/x-tar","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":240,"wires":[["653f43db.b47b3c"],["e1d2bfcf.bc48f","b0b5dbb.dbec228"]]},{"id":"e1d2bfcf.bc48f","type":"function","z":"a4711478.085018","name":"IS tar","func":"msg.payload = 'IS dist.tar file!'\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["81a83bcb.6fa388"]]},{"id":"81a83bcb.6fa388","type":"debug","z":"a4711478.085018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":240,"wires":[]},{"id":"c772ee1c.702a4","type":"http response","z":"a4711478.085018","name":"","statusCode":"","headers":{},"x":1090,"y":360,"wires":[]},{"id":"7a099e8a.06fcd","type":"http response","z":"a4711478.085018","name":"","statusCode":"400","headers":{},"x":840,"y":180,"wires":[]},{"id":"ea6e5b79.610af8","type":"exec","z":"a4711478.085018","command":"tar -xvf /home/pi/octava/public/dist.tar -C /home/pi/octava/public","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"tar -xvf /home/pi/octava/public/dist.tar -C /home/pi/octava/public","x":1390,"y":640,"wires":[[],[],[]]},{"id":"55bbd5a6.26d75c","type":"debug","z":"a4711478.085018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1750,"y":500,"wires":[]},{"id":"86fc63cc.a36d1","type":"debug","z":"a4711478.085018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1750,"y":540,"wires":[]},{"id":"37f47e56.a40a52","type":"inject","z":"a4711478.085018","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":940,"y":560,"wires":[["6dbf50f2.ac263"]]},{"id":"6dbf50f2.ac263","type":"exec","z":"a4711478.085018","command":"cd /home/pi/octava/public && tar -xvf dist.tar","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cd /home/pi/octava/public && tar -xvf dist.tar","x":1330,"y":520,"wires":[["55bbd5a6.26d75c"],["86fc63cc.a36d1"],[]]},{"id":"8231f8da.8e5528","type":"debug","z":"38c46005.2089","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1670,"y":320,"wires":[]},{"id":"accfc5d0.7d0c08","type":"function","z":"38c46005.2089","name":" global.get('SwitchIPAddress_2')","func":"msg.host = global.get('SwitchIPAddress_2')\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":540,"wires":[["4770cd04.22c514"]]},{"id":"4770cd04.22c514","type":"conf ping","z":"38c46005.2089","name":"","host":"","timeout":"5","requests":"1","x":890,"y":540,"wires":[["4c6fda3f.0bcbe4"]]},{"id":"7ad9e829.8547d8","type":"delay","z":"38c46005.2089","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":540,"wires":[["accfc5d0.7d0c08"]]},{"id":"4c6fda3f.0bcbe4","type":"function","z":"38c46005.2089","name":"Switch Ping Test.","func":"//If exec responds with 'Timeout' then set SwitchPingTest = 'fail'. If response is ok, SweichPingTest = 'ok'\n\n\nif(msg.payload === false){\n    global.set('SwitchPingTest_2','fail');\n\n}else{\n    global.set('SwitchPingTest_2','ok');\n}\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":540,"wires":[[]]},{"id":"14be656e.a0000b","type":"debug","z":"6d17af7a.0c3d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"host","targetType":"msg","x":1860,"y":320,"wires":[]},{"id":"3a69d083.41724","type":"http in","z":"6d17af7a.0c3d3","name":"","url":"/poe/:on_off","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1620,"wires":[["9c9f3376.5b548","a23ea6dc.8ff1d8","f456db4.8efd728","69820bce.c365a4","bef8eaaa.07ae18","575b754c.6326ac","1b51428e.b1317d","9d8c0149.66b36","dfa7dd2d.d8212","1a6f4823.d2d8b8","5b430fd8.ed2d7"]]},{"id":"9c9f3376.5b548","type":"http response","z":"6d17af7a.0c3d3","name":"","statusCode":"","headers":{},"x":410,"y":1300,"wires":[]},{"id":"50b8ebed.4bfd94","type":"function","z":"6d17af7a.0c3d3","name":"interface range gi1-48","func":"msg.payload = 'interface range gi1-48'+ \"\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1540,"wires":[["9dc22992.113248"]]},{"id":"a23ea6dc.8ff1d8","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":584.3333892822266,"y":1544.000027179718,"wires":[["50b8ebed.4bfd94"]]},{"id":"575b754c.6326ac","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":1600,"wires":[["dfb434b8.7cd238"]]},{"id":"f456db4.8efd728","type":"function","z":"6d17af7a.0c3d3","name":"cisco","func":"\n//msg.payload = new Buffer([0x63,0x69,0x73,0x63,0x6f,0x0a,0x0D]);\nmsg.payload = \"cisco\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1220,"wires":[["9dc22992.113248"]]},{"id":"69820bce.c365a4","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":1400,"wires":[["8399c7cb.398bc8"]]},{"id":"8399c7cb.398bc8","type":"function","z":"6d17af7a.0c3d3","name":"sg300-octava","func":"//msg.payload = new Buffer([0x73,0x67,0x33,0x30,0x30,0x2d,0x6f,0x63,0x74,0x61,0x76,0x61,0x0d]);\nmsg.payload = \"sg300-octava\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1400,"wires":[["9dc22992.113248"]]},{"id":"bef8eaaa.07ae18","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":1460,"wires":[["450f90f1.98368"]]},{"id":"450f90f1.98368","type":"function","z":"6d17af7a.0c3d3","name":"config","func":"//msg.payload = new Buffer([0x63,0x6f,0x6e,0x66,0x69,0x67,0x0a,0x0D]);\nmsg.payload = \"config\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1460,"wires":[["9dc22992.113248"]]},{"id":"101ae9d8.cbc1d6","type":"tcp request","z":"6d17af7a.0c3d3","server":"","port":"23","out":"time","splitc":"5000","name":"","x":1610,"y":1480,"wires":[[]]},{"id":"9dc22992.113248","type":"function","z":"6d17af7a.0c3d3","name":"global.get('SwitchIPAddress_1')","func":"msg.host = global.get('SwitchIPAddress_1');\n\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":1480,"wires":[["101ae9d8.cbc1d6","3a97c9f4.06d256"]]},{"id":"d4be34b2.f8a638","type":"function","z":"6d17af7a.0c3d3","name":"interface range gi1-48","func":"msg.payload = 'interface range gi1-48'+ \"\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1977,"wires":[["ec2b99de.57f348"]]},{"id":"dfa7dd2d.d8212","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"1600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":1980,"wires":[["d4be34b2.f8a638"]]},{"id":"1a6f4823.d2d8b8","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"1800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":605.6666107177734,"y":2035.999972820282,"wires":[["d9abd541.90aae8"]]},{"id":"1b51428e.b1317d","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":625.6666107177734,"y":1835.999972820282,"wires":[["225f40fe.8a332"]]},{"id":"225f40fe.8a332","type":"function","z":"6d17af7a.0c3d3","name":"sg300-octava","func":"//msg.payload = new Buffer([0x73,0x67,0x33,0x30,0x30,0x2d,0x6f,0x63,0x74,0x61,0x76,0x61,0x0d]);\nmsg.payload = \"sg300-octava\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1837,"wires":[["ec2b99de.57f348"]]},{"id":"9d8c0149.66b36","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"1400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":625.6666107177734,"y":1895.999972820282,"wires":[["9e859643.0e8ad8"]]},{"id":"9e859643.0e8ad8","type":"function","z":"6d17af7a.0c3d3","name":"config","func":"//msg.payload = new Buffer([0x63,0x6f,0x6e,0x66,0x69,0x67,0x0a,0x0D]);\nmsg.payload = \"config\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1897,"wires":[["ec2b99de.57f348"]]},{"id":"ec2b99de.57f348","type":"function","z":"6d17af7a.0c3d3","name":"global.get('SwitchIPAddress_2')","func":"msg.host = global.get('SwitchIPAddress_2');\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":1840,"wires":[["2f137ebc.4b7d12","cb933154.c3fc"]]},{"id":"2f137ebc.4b7d12","type":"tcp request","z":"6d17af7a.0c3d3","server":"","port":"23","out":"time","splitc":"5000","name":"","x":1630,"y":1840,"wires":[[]]},{"id":"987412b7.00b47","type":"function","z":"6d17af7a.0c3d3","name":"cisco","func":"\n//msg.payload = new Buffer([0x63,0x69,0x73,0x63,0x6f,0x0a,0x0D]);\nmsg.payload = \"cisco\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1700,"wires":[["ec2b99de.57f348"]]},{"id":"5b430fd8.ed2d7","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":1760,"wires":[["987412b7.00b47"]]},{"id":"3a97c9f4.06d256","type":"debug","z":"6d17af7a.0c3d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1630,"y":1380,"wires":[]},{"id":"cb933154.c3fc","type":"debug","z":"6d17af7a.0c3d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1630,"y":1760,"wires":[]},{"id":"d9abd541.90aae8","type":"function","z":"6d17af7a.0c3d3","name":"poe on_off","func":"\nlet PoE = msg.req.params.on_off;\n\n\nif(PoE == 'on'){\n    \n    msg.payload = \"power inline auto\" + \"\\r\";\n    return msg;\n\n}else if(PoE == 'off'){\n    \n    msg.payload = \"power inline never\" + \"\\r\";\n    return msg;\n\n    \n}else{}\n\n","outputs":1,"noerr":0,"x":870,"y":2040,"wires":[["ec2b99de.57f348"]]},{"id":"dfb434b8.7cd238","type":"function","z":"6d17af7a.0c3d3","name":"poe on_off","func":"\nlet PoE = msg.req.params.on_off;\n\n\nif(PoE == 'on'){\n    \n    msg.payload = \"power inline auto\" + \"\\r\";\n    return msg;\n\n}else if(PoE == 'off'){\n    \n    msg.payload = \"power inline never\" + \"\\r\";\n    return msg;\n\n    \n}else{}\n\n","outputs":1,"noerr":0,"x":870,"y":1600,"wires":[["9dc22992.113248"]]},{"id":"5eb0128.89d30ec","type":"http in","z":"6d17af7a.0c3d3","name":"","url":"switch-unit/:unit/rxport/:rxport/vlan/:vlan","method":"get","upload":false,"swaggerDoc":"","x":250,"y":900,"wires":[["ddb924c4.4efc68","cde5604f.c3e3a","ef3cc9ec.90d1b8","56cacc3f.dd71e4","3eb45382.e15b4c"]]},{"id":"9db22ea1.03f8","type":"http response","z":"6d17af7a.0c3d3","name":"","statusCode":"","headers":{},"x":1330,"y":1000,"wires":[]},{"id":"221d0f75.66bce","type":"function","z":"6d17af7a.0c3d3","name":"interface gi rxport","func":"\nlet rxport = msg.req.params.rxport;\n\nmsg.payload = `interface gi${rxport}`+ \"\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":940,"wires":[["a8a037f8.51ae18"]]},{"id":"ddb924c4.4efc68","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":824.3333892822266,"y":944.000027179718,"wires":[["221d0f75.66bce"]]},{"id":"3eb45382.e15b4c","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":1000,"wires":[["d499a26f.54afa"]]},{"id":"d499a26f.54afa","type":"function","z":"6d17af7a.0c3d3","name":"switch vlan","func":"msg.payload = msg.req.params.vlan;\nlet vlanNumber = msg.req.params.vlan;\n\nmsg.payload = \"switchport access vlan\" + vlanNumber + \"\\r\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1000,"wires":[["a8a037f8.51ae18","9db22ea1.03f8"]]},{"id":"cde5604f.c3e3a","type":"function","z":"6d17af7a.0c3d3","name":"cisco","func":"\n//msg.payload = new Buffer([0x63,0x69,0x73,0x63,0x6f,0x0a,0x0D]);\nmsg.payload = \"cisco\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":620,"wires":[["a8a037f8.51ae18"]]},{"id":"ef3cc9ec.90d1b8","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":800,"wires":[["a66c3f09.c4a3b"]]},{"id":"a66c3f09.c4a3b","type":"function","z":"6d17af7a.0c3d3","name":"sg300-octava","func":"//msg.payload = new Buffer([0x73,0x67,0x33,0x30,0x30,0x2d,0x6f,0x63,0x74,0x61,0x76,0x61,0x0d]);\nmsg.payload = \"sg300-octava\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":800,"wires":[["a8a037f8.51ae18"]]},{"id":"56cacc3f.dd71e4","type":"delay","z":"6d17af7a.0c3d3","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":860,"wires":[["4d24977b.b71378"]]},{"id":"4d24977b.b71378","type":"function","z":"6d17af7a.0c3d3","name":"config","func":"//msg.payload = new Buffer([0x63,0x6f,0x6e,0x66,0x69,0x67,0x0a,0x0D]);\nmsg.payload = \"config\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":860,"wires":[["a8a037f8.51ae18"]]},{"id":"1e79ae0c.1177a2","type":"tcp request","z":"6d17af7a.0c3d3","server":"","port":"23","out":"time","splitc":"5000","name":"","x":1850,"y":880,"wires":[[]]},{"id":"a8a037f8.51ae18","type":"function","z":"6d17af7a.0c3d3","name":"global.get('SwitchIPAddress_')","func":"\nlet unit = parseInt(msg.req.params.unit);\n\n//msg.payload = unit\nmsg.host = global.get(`SwitchIPAddress_${unit}`);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":880,"wires":[["1e79ae0c.1177a2","15e8f547.4c86fb"]]},{"id":"15e8f547.4c86fb","type":"debug","z":"6d17af7a.0c3d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1870,"y":780,"wires":[]},{"id":"8f528771.c17cb8","type":"comment","z":"6d17af7a.0c3d3","name":"Switch ALL ","info":"","x":240,"y":320,"wires":[]},{"id":"e992eedb.c0896","type":"comment","z":"6d17af7a.0c3d3","name":"Switch only 1 RX","info":"","x":260,"y":840,"wires":[]},{"id":"f37fd045.d19b2","type":"function","z":"38c46005.2089","name":"ping switch status","func":"\nlet status1 = global.get('SwitchPingTest_1');\nlet status2 = global.get('SwitchPingTest_2');\nlet switch1_vlans = global.get('PortVlanMembership');\nlet switch2_vlans = global.get('PortVlanMembership_2');\n\nlet switchstatus = \n{\n'switch1status': status1,\n'switch2status': status2,\n'switch1_vlans': switch1_vlans,\n'switch2_vlans': switch2_vlans,\n\n   \n};\n\nmsg.payload = switchstatus;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":880,"wires":[["e5f06301.f8efa","2c76b637.165f6a"]]},{"id":"e5f06301.f8efa","type":"debug","z":"38c46005.2089","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":780,"wires":[]},{"id":"c5a8662b.5a4d18","type":"websocket out","z":"38c46005.2089","name":"","server":"d250f0d2.52a58","client":"","x":760,"y":880,"wires":[]},{"id":"2c76b637.165f6a","type":"json","z":"38c46005.2089","name":"","property":"payload","action":"","pretty":false,"x":530,"y":880,"wires":[["c5a8662b.5a4d18"]]},{"id":"6dd3da92.a2a444","type":"http in","z":"6d17af7a.0c3d3","name":"","url":"status","method":"get","upload":false,"swaggerDoc":"","x":150,"y":160,"wires":[["2daef6b9.97eeda"]]},{"id":"2daef6b9.97eeda","type":"http response","z":"6d17af7a.0c3d3","name":"","statusCode":"","headers":{},"x":470,"y":160,"wires":[]},{"id":"721c8769.7c5b28","type":"comment","z":"6d17af7a.0c3d3","name":"status","info":"used to let client send request.\nIf error, client side will throw an erro\n\"HDLAN Controller not detected\"","x":230,"y":100,"wires":[]},{"id":"2a72dd65.0e3ea2","type":"exec","z":"14c2710a.b84d6f","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":890,"y":2660,"wires":[["3c22d4a0.3b163c"],[],[]]},{"id":"f4b05767.072748","type":"function","z":"14c2710a.b84d6f","name":"OID: PoE Power Total Consumed","func":"\n//msg.payload = \"1.3.6.1.2.1.105.1.3.1.1.4.1\";\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.2.1.105.1.3.1.1.4.1';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":634.3333587646484,"y":2660.833333969116,"wires":[["2a72dd65.0e3ea2"]]},{"id":"5c114b06.4b4b64","type":"exec","z":"14c2710a.b84d6f","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":882.3334770202637,"y":2550.8333740234375,"wires":[["26a38b00.7ec626"],[],[]]},{"id":"510d6df4.073e34","type":"inject","z":"14c2710a.b84d6f","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":180,"wires":[["6c67848.073287c"]]},{"id":"b7bfdd75.903a5","type":"function","z":"14c2710a.b84d6f","name":"OID: Model Number","func":"\n//msg.payload = 'snmpget -v 2c -c public 192.168.1.110 1.3.6.1.2.1.47.1.1.1.1.7.67109120';\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.2.1.47.1.1.1.1.7.67109120';\nreturn msg;","outputs":1,"noerr":0,"x":607.3334579467773,"y":2549.8333740234375,"wires":[["5c114b06.4b4b64"]]},{"id":"80b6576f.5878b8","type":"exec","z":"14c2710a.b84d6f","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":893.3333435058594,"y":2826.833354949951,"wires":[["574aab4d.824264"],[],[]]},{"id":"8939230c.6ca38","type":"function","z":"14c2710a.b84d6f","name":"OID: Power Supply 1 Status","func":"\n//msg.payload = \"1.3.6.1.4.1.9.6.1.101.83.1.2.1.3.67109185\";\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.4.1.9.6.1.101.83.1.2.1.3.67109185';\nreturn msg;","outputs":1,"noerr":0,"x":656.3334045410156,"y":2833.833427429199,"wires":[["80b6576f.5878b8"]]},{"id":"8ef48d0f.69068","type":"function","z":"14c2710a.b84d6f","name":"OID: Fan1 RPM","func":"\n//msg.payload = \"1.3.6.1.4.1.9.6.1.101.83.5.1.1.3.1\";\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.4.1.9.6.1.101.83.5.1.1.3.1';\nreturn msg;","outputs":1,"noerr":0,"x":652.3334350585938,"y":3199.833390235901,"wires":[["d7859fa0.b8df2"]]},{"id":"d7859fa0.b8df2","type":"exec","z":"14c2710a.b84d6f","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":848.3334808349609,"y":3196.833390235901,"wires":[["dd2f0911.fa15a8"],[],[]]},{"id":"26a38b00.7ec626","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\n//msg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n//msg.payload = (temp.slice(temp.indexOf(\":\")+2,1000).trim());\nvar temp2 = (temp.slice(temp.indexOf(\":\")+2,1000).trim());\nvar temp3 = temp2.replace(\"\\\"\", \"\"); // removes double quotes from string\nmsg.payload = temp3.replace(\"\\\"\", \"\");// removes the second double quote. Try RegEx next time\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1338.3336486816406,"y":2538.8334560394287,"wires":[["86ad7f75.aa64b"]]},{"id":"574aab4d.824264","type":"function","z":"14c2710a.b84d6f","name":"ps1Status","func":"var temp = msg.payload;\nvar ps1Status = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nif(ps1Status==1){\n    msg.payload = 'OK';\n    return msg;\n}else if(ps1Status==2){\n    msg.payload = 'WARNING';\n    return msg;\n}else if(ps1Status==3){\n    msg.payload = 'CRITICAL';\n    return msg;\n}else if(ps1Status==4){\n    msg.payload = 'SHUTDOWN';\n    return msg;\n}else if(ps1Status==5){\n    msg.payload = ' FAN NOT PRESENT ';\n    return msg;\n\n}else{\n    \n}","outputs":1,"noerr":0,"x":1276.333480834961,"y":2814.833354949951,"wires":[["ef05772c.c825c8"]]},{"id":"28e2ae7.cbd9352","type":"function","z":"14c2710a.b84d6f","name":"fan1Status","func":"var temp = msg.payload;\nvar fan1Status = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nif(fan1Status==1){\n    msg.payload = 'OK';\n    return msg;\n}else if(fan1Status==2){\n    msg.payload = 'WARNING';\n    return msg;\n}else if(fan1Status==3){\n    msg.payload = 'CRITICAL';\n    return msg;\n}else if(fan1Status==4){\n    msg.payload = 'SHUTDOWN';\n    return msg;\n}else if(fan1Status==5){\n    msg.payload = ' FAN NOT PRESENT ';\n    return msg;\n}else if(fan1Status==6){\n    msg.payload = 'NOT FUNCTIONING';\n    return msg;\n}else{\n    \n}\n\n\n","outputs":1,"noerr":0,"x":1285.3335647583008,"y":2924.833438873291,"wires":[["ce84efbd.15de8"]]},{"id":"dd2f0911.fa15a8","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nvar fan1RPM = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nmsg.payload = fan1RPM;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1346.3335647583008,"y":3182.833420753479,"wires":[["81e7e941.4ada58"]]},{"id":"aeb678e2.7fb368","type":"function","z":"14c2710a.b84d6f","name":"OID: Fan1 Status","func":"\n//msg.payload = \"1.3.6.1.4.1.9.6.1.101.83.1.1.1.3.67109249\";\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.4.1.9.6.1.101.83.1.1.1.3.67109249';\nreturn msg;","outputs":1,"noerr":0,"x":629.3334121704102,"y":2938.8334398269653,"wires":[["7fb399da.cf4628"]]},{"id":"3c22d4a0.3b163c","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload =( parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim())); //convert to Watts\nreturn msg;","outputs":1,"noerr":0,"x":1357.333511352539,"y":2650.833415031433,"wires":[["fff3a16f.9ea09"]]},{"id":"7fb399da.cf4628","type":"exec","z":"14c2710a.b84d6f","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":879.3333358764648,"y":2939.833438873291,"wires":[["28e2ae7.cbd9352"],[],[]]},{"id":"86ad7f75.aa64b","type":"function","z":"14c2710a.b84d6f","name":"global.set('model',model);","func":"var model = msg.payload;\nglobal.set('model',model);\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1705.3336601257324,"y":2538.8333740234375,"wires":[[]]},{"id":"fff3a16f.9ea09","type":"function","z":"14c2710a.b84d6f","name":" global.set('PoE_Percentage',PoE_Percentage);","func":"var PoE = msg.payload;\nvar model = global.get('model')\nvar PoE_Percentage = 0;\n\nglobal.set('PoE',PoE);\n\nif(model ==\"SG350-52P\"){\n    PoE_Percentage = Math.ceil(100*(PoE/375));\n    global.set('PoE_Percentage',PoE_Percentage);\n    \n}else if (model ==\"SG350-28P\"){\n    PoE_Percentage = Math.ceil(100*(PoE/195));\n    global.set('PoE_Percentage',PoE_Percentage);\n    \n}else if (model ==\"SG350-10P\"){\n    PoE_Percentage = Math.ceil(100* (PoE/62));\n    global.set('PoE_Percentage',PoE_Percentage);\n    \n}else if (model ==\"SG350-52MP\"){\n    PoE_Percentage = Math.ceil(100*(PoE/740));\n    global.set('PoE_Percentage',PoE_Percentage);\n    \n}else if (model ==\"SG350-28MP\"){\n    PoE_Percentage = Math.ceil(100*(PoE/382));\n    global.set('PoE_Percentage',PoE_Percentage);\n    \n}else if (model ==\"SG350-10MP\"){\n    PoE_Percentage = Math.ceil(100*(PoE/124));\n    global.set('PoE_Percentage',PoE_Percentage);\n    \n}\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1785.3335990905762,"y":2648.833415031433,"wires":[[]]},{"id":"ef05772c.c825c8","type":"function","z":"14c2710a.b84d6f","name":"global.set('PS1Stat',msg.payload)","func":"PS1Stat = msg.payload;\nglobal.set('PS1Stat',msg.payload);\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1752.3336296081543,"y":2810.8333625793457,"wires":[[]]},{"id":"ce84efbd.15de8","type":"function","z":"14c2710a.b84d6f","name":"global.set('Fan1Stat',msg.payload)","func":"Fan1Stat = msg.payload;\nglobal.set('Fan1Stat',msg.payload);\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1756.333625793457,"y":2920.8334922790527,"wires":[[]]},{"id":"81e7e941.4ada58","type":"function","z":"14c2710a.b84d6f","name":"global.set('Fan1RPM',msg.payload)","func":"Fan1RPM = msg.payload;\nglobal.set('Fan1RPM',msg.payload);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1753.3335933685303,"y":3182.8334369659424,"wires":[[]]},{"id":"cebd62e.d75ffa","type":"delay","z":"14c2710a.b84d6f","name":"","pauseType":"delay","timeout":"0.6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":405.99998474121094,"y":2661.8333411216736,"wires":[["f4b05767.072748"]]},{"id":"c21620aa.453f2","type":"delay","z":"14c2710a.b84d6f","name":"","pauseType":"delay","timeout":"0.8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":444.33330154418945,"y":2832.8333625793457,"wires":[["8939230c.6ca38"]]},{"id":"b1dda8fe.8e94b8","type":"delay","z":"14c2710a.b84d6f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":434.3333053588867,"y":2937.833393096924,"wires":[["aeb678e2.7fb368"]]},{"id":"47aff069.80d3f","type":"delay","z":"14c2710a.b84d6f","name":"","pauseType":"delay","timeout":"1.6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":444.3333168029785,"y":3197.833436012268,"wires":[["8ef48d0f.69068"]]},{"id":"80fa8aed.905818","type":"function","z":"14c2710a.b84d6f","name":"OID: Temperature","func":"\n//msg.payload = \"1.3.6.1.4.1.9.6.1.101.83.5.1.1.2.1\";\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.4.1.9.6.1.101.83.5.1.1.2.1';\nreturn msg;","outputs":1,"noerr":0,"x":651.3333206176758,"y":3296.833394050598,"wires":[["506ea32f.27059c"]]},{"id":"506ea32f.27059c","type":"exec","z":"14c2710a.b84d6f","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":833.3333511352539,"y":3295.8333711624146,"wires":[["3e4a21de.7e765e"],[],[]]},{"id":"3e4a21de.7e765e","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nvar Temperature = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nmsg.payload = Temperature;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1345.3334121704102,"y":3282.8333711624146,"wires":[["74795035.47526"]]},{"id":"74795035.47526","type":"function","z":"14c2710a.b84d6f","name":"global.set('Temperature',msg.payload)","func":"Temperature = msg.payload;\nglobal.set('Temperature',msg.payload);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1774.3333168029785,"y":3278.8333444595337,"wires":[[]]},{"id":"44e8801e.72c16","type":"delay","z":"14c2710a.b84d6f","name":"","pauseType":"delay","timeout":"1.8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":438.33316802978516,"y":3294.833374977112,"wires":[["80fa8aed.905818"]]},{"id":"8301d88b.413898","type":"comment","z":"14c2710a.b84d6f","name":"SNMP MIB for Cisco Switch","info":"","x":623.3333053588867,"y":2501.83345413208,"wires":[]},{"id":"ac2e9424.e27c98","type":"delay","z":"14c2710a.b84d6f","name":"","pauseType":"delay","timeout":"0.4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":402.3332977294922,"y":2552.833375930786,"wires":[["b7bfdd75.903a5"]]},{"id":"46b8fa50.1ed9b4","type":"comment","z":"14c2710a.b84d6f","name":"Port Received Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":243,"y":3312,"wires":[]},{"id":"a2b2963a.ae6e98","type":"exec","z":"14c2710a.b84d6f","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2931,"y":3632.5,"wires":[["6626576c.835e68"],[],[]]},{"id":"6626576c.835e68","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3635,"y":3616.5,"wires":[["f8fd94bd.fe4598"]]},{"id":"2ddfb8d.8fd3148","type":"exec","z":"14c2710a.b84d6f","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2931,"y":3732.5,"wires":[["a4db9d80.9b2a9"],[],[]]},{"id":"a4db9d80.9b2a9","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload  = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3443,"y":3724.5,"wires":[["cc64f320.b9437"]]},{"id":"f8fd94bd.fe4598","type":"function","z":"14c2710a.b84d6f","name":"counter1val","func":"global.set(\"RX6counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":4153,"y":3604.5,"wires":[[]]},{"id":"cc64f320.b9437","type":"function","z":"14c2710a.b84d6f","name":"counter2val","func":"global.set(\"RX6counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3893,"y":3720.5,"wires":[["78d4ae99.22d24"]]},{"id":"78d4ae99.22d24","type":"function","z":"14c2710a.b84d6f","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX6counter1val\");\nvar RXcounter2val = global.get(\"RX6counter2val\");\n\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":4231,"y":3712.5,"wires":[[]]},{"id":"c21eeaed.9bbb38","type":"comment","z":"14c2710a.b84d6f","name":"Port Received Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":2921,"y":3552.5,"wires":[]},{"id":"b90e7207.cfc7d","type":"exec","z":"14c2710a.b84d6f","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2971,"y":3992.5,"wires":[["7fd4be0a.0861c"],[],[]]},{"id":"7fd4be0a.0861c","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3641,"y":3984.5,"wires":[["fd592407.740fe8"]]},{"id":"3d19d7f8.49d738","type":"delay","z":"14c2710a.b84d6f","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2701,"y":4072.5,"wires":[["6ce8345c.de115c"]]},{"id":"6ce8345c.de115c","type":"exec","z":"14c2710a.b84d6f","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2951,"y":4072.5,"wires":[["9209db88.5e17b8"],[],[]]},{"id":"9209db88.5e17b8","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3557,"y":4072.5,"wires":[["f12e0d3d.0c5c4"]]},{"id":"fd592407.740fe8","type":"function","z":"14c2710a.b84d6f","name":"TXcounter1val","func":"global.set(\"TX6counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":4211,"y":3984.5,"wires":[[]]},{"id":"f12e0d3d.0c5c4","type":"function","z":"14c2710a.b84d6f","name":"TXcounter2val","func":"global.set(\"TX6counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3891,"y":4068.5,"wires":[["1a68d02d.25955"]]},{"id":"1a68d02d.25955","type":"function","z":"14c2710a.b84d6f","name":"Out Utilization","func":"var TXcounter1val = global.get(\"TX6counter1val\");\nvar TXcounter2val = global.get(\"TX6counter2val\");\nvar outputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(TXcounter1val<TXcounter2val){\n    \n    outputUtilization_Mbp = Math.round(((TXcounter2val-TXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    outputUtilization_Mbp = Math.round((((TXcounter2val+Counter32bit )-TXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = outputUtilization_Mbp +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":4211,"y":4096.5,"wires":[[]]},{"id":"f10e5c9.9d8a0a","type":"comment","z":"14c2710a.b84d6f","name":"Port TX Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":2961,"y":3932.5,"wires":[]},{"id":"bbaf475d.f340b8","type":"function","z":"14c2710a.b84d6f","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.6\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.6\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":2551,"y":3652.5,"wires":[["a2b2963a.ae6e98"],["3b6e4fc7.99ebf"]]},{"id":"8c759c72.08538","type":"function","z":"14c2710a.b84d6f","name":"OID: ifOutOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.16.6\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.16.6\"};\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":2551,"y":3992.5,"wires":[["b90e7207.cfc7d"],["3d19d7f8.49d738"]]},{"id":"3b6e4fc7.99ebf","type":"delay","z":"14c2710a.b84d6f","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2681,"y":3732.5,"wires":[["2ddfb8d.8fd3148"]]},{"id":"a1d8aa82.b3b938","type":"exec","z":"14c2710a.b84d6f","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2871,"y":4272.5,"wires":[["3742555c.b2b87a"],[],[]]},{"id":"3742555c.b2b87a","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3587,"y":4252.5,"wires":[["780a61e1.0f7c6"]]},{"id":"6712ede3.a9a004","type":"exec","z":"14c2710a.b84d6f","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2871,"y":4372.5,"wires":[["ef5b0b7e.27dcd8"],[],[]]},{"id":"ef5b0b7e.27dcd8","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload  = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3423,"y":4356.5,"wires":[["57fd3f82.00401"]]},{"id":"780a61e1.0f7c6","type":"function","z":"14c2710a.b84d6f","name":"counter1val","func":"global.set(\"RX7counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":4233,"y":4248.5,"wires":[[]]},{"id":"57fd3f82.00401","type":"function","z":"14c2710a.b84d6f","name":"counter2val","func":"global.set(\"RX7counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3825,"y":4352.5,"wires":[["5481056.796b9fc"]]},{"id":"5481056.796b9fc","type":"function","z":"14c2710a.b84d6f","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX7counter1val\");\nvar RXcounter2val = global.get(\"RX7counter2val\");\n\n\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":4223,"y":4380.5,"wires":[[]]},{"id":"5730a00b.b41c6","type":"comment","z":"14c2710a.b84d6f","name":"Port Received Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":2891,"y":4192.5,"wires":[]},{"id":"b89c2fd6.10d11","type":"exec","z":"14c2710a.b84d6f","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2911,"y":4632.5,"wires":[["c1fba45c.ecbd48"],[],[]]},{"id":"c1fba45c.ecbd48","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3575,"y":4604.5,"wires":[["d3a8f364.d4d51"]]},{"id":"8d9eebea.651ad8","type":"delay","z":"14c2710a.b84d6f","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2671,"y":4712.5,"wires":[["fdd31d63.6f166"]]},{"id":"fdd31d63.6f166","type":"exec","z":"14c2710a.b84d6f","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2891,"y":4712.5,"wires":[["9c2fe1d9.282eb"],[],[]]},{"id":"9c2fe1d9.282eb","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3435,"y":4700.5,"wires":[["9906a9ad.6a3318"]]},{"id":"d3a8f364.d4d51","type":"function","z":"14c2710a.b84d6f","name":"TXcounter1val","func":"global.set(\"TX7counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":4195,"y":4608.5,"wires":[[]]},{"id":"9906a9ad.6a3318","type":"function","z":"14c2710a.b84d6f","name":"TXcounter2val","func":"global.set(\"TX7counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3911,"y":4708.5,"wires":[["e68ba758.652618"]]},{"id":"e68ba758.652618","type":"function","z":"14c2710a.b84d6f","name":"Out Utilization","func":"var TXcounter1val = global.get(\"TX7counter1val\");\nvar TXcounter2val = global.get(\"TX7counter2val\");\nvar outputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(TXcounter1val<TXcounter2val){\n    \n    outputUtilization_Mbp = Math.round(((TXcounter2val-TXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    outputUtilization_Mbp = Math.round((((TXcounter2val+Counter32bit )-TXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = outputUtilization_Mbp +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":4211,"y":4720.5,"wires":[[]]},{"id":"c22cc37b.81b82","type":"comment","z":"14c2710a.b84d6f","name":"Port TX Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":2931,"y":4572.5,"wires":[]},{"id":"7cd014b1.71f5cc","type":"function","z":"14c2710a.b84d6f","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.7\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.7\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":2511,"y":4292.5,"wires":[["a1d8aa82.b3b938"],["f9237c7c.6b534"]]},{"id":"bbc1300a.bfb01","type":"function","z":"14c2710a.b84d6f","name":"OID: ifOutOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.16.7\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.16.7\"};\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":2501,"y":4632.5,"wires":[["b89c2fd6.10d11"],["8d9eebea.651ad8"]]},{"id":"f9237c7c.6b534","type":"delay","z":"14c2710a.b84d6f","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2651,"y":4372.5,"wires":[["6712ede3.a9a004"]]},{"id":"d5be0f2e.e3061","type":"exec","z":"14c2710a.b84d6f","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2851,"y":4872.5,"wires":[["d17f77fb.f2a628"],[],[]]},{"id":"d17f77fb.f2a628","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3503,"y":4836.5,"wires":[["658c7155.2a308"]]},{"id":"6af384dc.fb092c","type":"exec","z":"14c2710a.b84d6f","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2851,"y":4972.5,"wires":[["a5384c3d.c48d3"],[],[]]},{"id":"a5384c3d.c48d3","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload  = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3383,"y":4956.5,"wires":[["4a4ba516.b5a4cc"]]},{"id":"658c7155.2a308","type":"function","z":"14c2710a.b84d6f","name":"counter1val","func":"global.set(\"RX8counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":4189,"y":4836.5,"wires":[[]]},{"id":"4a4ba516.b5a4cc","type":"function","z":"14c2710a.b84d6f","name":"counter2val","func":"global.set(\"RX8counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3789,"y":4948.5,"wires":[["85d13d54.a82c8"]]},{"id":"85d13d54.a82c8","type":"function","z":"14c2710a.b84d6f","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX8counter1val\");\nvar RXcounter2val = global.get(\"RX8counter2val\");\n\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":4211,"y":4960.5,"wires":[[]]},{"id":"1abb35ab.28d8ca","type":"function","z":"14c2710a.b84d6f","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.8\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.8\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":2491,"y":4892.5,"wires":[["d5be0f2e.e3061"],["ae85c664.307c88"]]},{"id":"ae85c664.307c88","type":"delay","z":"14c2710a.b84d6f","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2631,"y":4972.5,"wires":[["6af384dc.fb092c"]]},{"id":"1547e543.dd518b","type":"exec","z":"14c2710a.b84d6f","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":930,"y":300,"wires":[["edff3eac.8c819"],[],[]]},{"id":"edff3eac.8c819","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nvar port = global.get('counter2')-1;\n\nif(global.get('counter2') !==0){\n msg.payload =( parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim())); //\nglobal.set('PortOperationalStatus['+port+']',msg.payload);\n   \n}else{}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1221.9999732971191,"y":294.6666660308838,"wires":[[]]},{"id":"897e6ee4.04146","type":"inject","z":"14c2710a.b84d6f","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":true,"onceDelay":".1","x":330,"y":460,"wires":[["ebc3566b.c59eb8","47a599ff.c74c48"]]},{"id":"d2222224.d1b84","type":"function","z":"14c2710a.b84d6f","name":"OID: Fan2 Status","func":"\n//msg.payload = \"1.3.6.1.4.1.9.6.1.101.83.1.1.1.3.67109249\";\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.4.1.9.6.1.101.83.1.1.1.3.67109250';\nreturn msg;","outputs":1,"noerr":0,"x":636.3332366943359,"y":2998.833374977112,"wires":[["63aeb071.d0581"]]},{"id":"8916bc8c.5e616","type":"function","z":"14c2710a.b84d6f","name":"OID: Fan3 Status","func":"\n//msg.payload = \"1.3.6.1.4.1.9.6.1.101.83.1.1.1.3.67109249\";\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.4.1.9.6.1.101.83.1.1.1.3.67109251';\nreturn msg;","outputs":1,"noerr":0,"x":638.3332061767578,"y":3051.8333129882812,"wires":[["4b45ff44.afc7f"]]},{"id":"63aeb071.d0581","type":"exec","z":"14c2710a.b84d6f","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":872.3332214355469,"y":2995.833320617676,"wires":[["4068ded9.69a3b"],[],[]]},{"id":"4b45ff44.afc7f","type":"exec","z":"14c2710a.b84d6f","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":872.3332214355469,"y":3050.833320617676,"wires":[["89f2885a.56d3d8"],[],[]]},{"id":"dbf344b.9b1efb8","type":"delay","z":"14c2710a.b84d6f","name":"","pauseType":"delay","timeout":"1.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":441.8527526855469,"y":2994.587226867676,"wires":[["d2222224.d1b84"]]},{"id":"2182facf.cea276","type":"delay","z":"14c2710a.b84d6f","name":"","pauseType":"delay","timeout":"1.4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440.8527526855469,"y":3054.587226867676,"wires":[["8916bc8c.5e616"]]},{"id":"4068ded9.69a3b","type":"function","z":"14c2710a.b84d6f","name":"fan2Status","func":"var temp = msg.payload;\nvar fan2Status = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nif(fan2Status==1){\n    msg.payload = 'OK';\n    return msg;\n}else if(fan2Status==2){\n    msg.payload = 'WARNING';\n    return msg;\n}else if(fan2Status==3){\n    msg.payload = 'CRITICAL';\n    return msg;\n}else if(fan2Status==4){\n    msg.payload = 'SHUTDOWN';\n    return msg;\n}else if(fan2Status==5){\n    msg.payload = ' FAN NOT PRESENT ';\n    return msg;\n}else if(fan2Status==6){\n    msg.payload = 'NOT FUNCTIONING';\n    return msg;\n}else{\n    \n}\n\n\n","outputs":1,"noerr":0,"x":1283.852783203125,"y":2979.587230682373,"wires":[["e56a6709.1b7d88"]]},{"id":"e56a6709.1b7d88","type":"function","z":"14c2710a.b84d6f","name":"global.set('Fan2Stat',msg.payload)","func":"Fan1Stat = msg.payload;\nglobal.set('Fan2Stat',msg.payload);\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1754.8528442382812,"y":2978.5872917175293,"wires":[[]]},{"id":"89f2885a.56d3d8","type":"function","z":"14c2710a.b84d6f","name":"fan3Status","func":"var temp = msg.payload;\nvar fan3Status = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\n    if(fan3Status==1){\n       msg.payload = 'OK';\n       return msg;\n    }else if(fan3Status==2){\n        msg.payload = 'WARNING';\n        return msg;\n    }else if(fan3Status==3){\n        msg.payload = 'CRITICAL';\n        return msg;\n    }else if(fan3Status==4){\n        msg.payload = 'SHUTDOWN';\n        return msg;\n    }else if(fan3Status==5){\n        msg.payload = ' FAN NOT PRESENT';\n        return msg;\n    }else if(fan3Status==6){\n        msg.payload = 'NOT FUNCTIONING';\n        return msg;\n    }else{\n        \n    }\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":1283.8528137207031,"y":3045.587215423584,"wires":[["cd6a9744.173258"]]},{"id":"cd6a9744.173258","type":"function","z":"14c2710a.b84d6f","name":"global.set('Fan3Stat',msg.payload)","func":"Fan1Stat = msg.payload;\nglobal.set('Fan3Stat',msg.payload);\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1757.8527221679688,"y":3041.5872764587402,"wires":[[]]},{"id":"8cb71b90.d196c8","type":"exec","z":"14c2710a.b84d6f","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":931.999942779541,"y":397.6666250228882,"wires":[["7bdea074.8a3a3"],[],[]]},{"id":"7bdea074.8a3a3","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nvar port = global.get('counter3')-1;\n\nif(global.get('counter3') !==0){\n    msg.payload =( parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim())); //\n    global.set('PortVlanMembership['+port+']',msg.payload);\n\n   \n}else{}\n\n//msg.payload =( parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim())); //\n//global.set('PortVlanMembership['+port+']',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1221.9999732971191,"y":394.6666660308838,"wires":[[]]},{"id":"47a599ff.c74c48","type":"function","z":"14c2710a.b84d6f","name":"switch2-Port VLAN Status","func":"\nvar i = global.get('counter3');\nconst ports = 52;\n\nif(i<(ports)){\n        \n    i++; //Initially 0+1\n     \n    msg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress_1') + \" \" + '\t1.0.8802.1.1.2.1.5.32962.1.2.1.1.1.' + i;\n    global.set('counter3', i) ;\n    \n\n}else{\n    global.set('counter3', 0) ; //Reset Counter back to 0\n\n}  \n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":667.0000190734863,"y":400.3333406448364,"wires":[["8cb71b90.d196c8"]]},{"id":"99bd45f2.b92f98","type":"function","z":"14c2710a.b84d6f","name":"switch1-Port Operational Status","func":"\nvar i = global.get('counter2');\nconst ports = 52;\n\nif(i<(ports)){\n    i++; //Initially 0+1\n \n    msg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress_1') + \" \" + '\t1.3.6.1.2.1.2.2.1.8.' + i;\n    global.set('counter2', i) ;\n \n    \n}else{\n   \n    global.set('counter2', 0) ; //Reset Counter back to 0\n   \n}  \n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":668.9999885559082,"y":300.3333339691162,"wires":[["1547e543.dd518b"]]},{"id":"34db2a25.b965a6","type":"debug","z":"14c2710a.b84d6f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1531.9999732971191,"y":294.6666660308838,"wires":[]},{"id":"b0bc5a77.3c1698","type":"debug","z":"14c2710a.b84d6f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1531.9999732971191,"y":394.6666660308838,"wires":[]},{"id":"6c67848.073287c","type":"function","z":"14c2710a.b84d6f","name":"Time of Server","func":"\nvar d= new Date();\nvar month = d.getMonth()+1;  // add 1 to adjust for 0-11 months.\nvar date = d.getDate();\nvar hour = d.getHours();\nvar minute = d.getMinutes();\nvar year = d.getFullYear();\n\nhour_padded = hour.toString().padStart(2,'0')\nminute_padded = minute.toString().padStart(2,'0')\n\n\nglobal.set('serverTime',`${hour_padded}:${minute_padded}`)\nmsg.payload = `${hour_padded}:${minute_padded}`;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":180,"wires":[[]]},{"id":"9bf29e38.2981f","type":"exec","z":"14c2710a.b84d6f","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":930,"y":500,"wires":[["b8f67934.5d1d88"],[],[]]},{"id":"b8f67934.5d1d88","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nvar port = global.get('counter4')-1;\n\nif(global.get('counter4') !==0){\n msg.payload =( parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim())); //\nglobal.set('PortOperationalStatus_2['+port+']',msg.payload);\n   \n}else{}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1261.9999732971191,"y":494.6666660308838,"wires":[[]]},{"id":"335dd572.19b94a","type":"exec","z":"14c2710a.b84d6f","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":930,"y":600,"wires":[["da224fb5.0bcf3"],[],[]]},{"id":"da224fb5.0bcf3","type":"function","z":"14c2710a.b84d6f","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nvar port = global.get('counter5')-1;\n\nif(global.get('counter5') !==0){\n    msg.payload =( parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim())); //\n    global.set('PortVlanMembership_2['+port+']',msg.payload);\n\n   \n}else{}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1261.9999732971191,"y":594.6666660308838,"wires":[[]]},{"id":"ebc3566b.c59eb8","type":"function","z":"14c2710a.b84d6f","name":"switch2-Port VLAN Status","func":"\nvar i = global.get('counter5');\nconst ports = 52;\n\nif(i<(ports)){\n        \n    i++; //Initially 0+1\n     \n    msg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress_2') + \" \" + '\t1.0.8802.1.1.2.1.5.32962.1.2.1.1.1.' + i;\n    global.set('counter5', i) ;\n    \n\n}else{\n    global.set('counter5', 0) ; //Reset Counter back to 0\n\n}  \n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":670,"y":600,"wires":[["335dd572.19b94a"]]},{"id":"2a7a498b.d6e5a6","type":"function","z":"14c2710a.b84d6f","name":"switch2-Port Operational Status","func":"\nvar i = global.get('counter4');\nconst ports = 52;\n\nif(i<(ports)){\n    i++; //Initially 0+1\n \n    msg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress_2') + \" \" + '\t1.3.6.1.2.1.2.2.1.8.' + i;\n    global.set('counter4', i) ;\n \n    \n}else{\n   \n    global.set('counter4', 0) ; //Reset Counter back to 0\n   \n}  \n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":670,"y":500,"wires":[["9bf29e38.2981f"]]},{"id":"7d01067b.259418","type":"debug","z":"14c2710a.b84d6f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":600,"wires":[]},{"id":"b3e07149.e2d36","type":"function","z":"14c2710a.b84d6f","name":"switch2-operational status","func":"msg.payload = global.get('PortOperationalStatus_2')\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":780,"wires":[["67d12cd8.d24c34"]]},{"id":"b82c56ed.e260a8","type":"inject","z":"14c2710a.b84d6f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":".5","x":600,"y":780,"wires":[["b3e07149.e2d36"]]},{"id":"67d12cd8.d24c34","type":"debug","z":"14c2710a.b84d6f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":780,"wires":[]},{"id":"bbae8cc8.eb83a","type":"function","z":"14c2710a.b84d6f","name":"switch2-vlan status","func":"msg.payload = global.get('PortVlanMembership_2')\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":860,"wires":[["fb138d6b.3bc98"]]},{"id":"f5264852.bde658","type":"inject","z":"14c2710a.b84d6f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":".5","x":600,"y":860,"wires":[["bbae8cc8.eb83a"]]},{"id":"fb138d6b.3bc98","type":"debug","z":"14c2710a.b84d6f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":860,"wires":[]}]